@import '../../../styles/settings';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.bulletin-header {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 0;
		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}

		h3 {
			font-weight: 300;
		}
	}

	.table {
		color: $sophisticated-white;

		tbody tr td {
			text-align: left;
			vertical-align: middle;

			&.bulletin-name button {
				width: 100%;
			}
			&.bulletin-link {
				a {
					font-size: small;
				}
			}
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width:544px) {
	.container {
		.bulletin-header {
			padding: 1rem 6rem;
		}
		.table {
			tbody tr td {
				&.bulletin-link {
					a {
						font-size: medium;
					}
				}
			}
		}
	}
}