@import '../../../styles/settings';

.loading-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
}

.planner-interface {
	// Add padding instead of margin so clicking the bottom will also deselect the day
	padding: 0.5rem 0 0.5rem 0;
	width: 100%;
	overflow: hidden;

	.planner-container {
		color: $sophisticated-white;
		margin-left: 0.5em;
		margin-right: 0.5em;

		.calendar-container {
			display: flex;
			justify-content: space-between;

			.calendar {
				width: 100%;

				.month-navigation {
					margin-bottom: 0.5rem;
					display: flex;

					.previous-month,
					.current-month,
					.next-month {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 1em 0;
						font-size: 1rem;

						border: none;
						color: $sophisticated-white;

						&:hover {
							color: darken($sophisticated-white, 20%);
						}
						&:active {
							color: darken($sophisticated-white, 40%);
						}
					}

					.previous-month,
					.next-month {
						font-weight: 300;

						.fa {
							margin: 0 0.5rem;
						}
					}

					.current-month {
						font-weight: 600;
						border-left: 1px solid rgba($sophisticated-white, 0.5);
						border-right: 1px solid rgba($sophisticated-white, 0.5);
					}
				}

				.calendar-grid {
					display: flex;
					flex-direction: column;
					padding: 0.5rem;

					.calendar-weekdays {
						display: flex;

						.weekday {
							overflow: hidden;

							text-align: center;
							font-weight: 600;
							// Shorten the weekdays into their abbrieviations
							width: 29px;
							margin: 0 auto;

							&:nth-child(2),
							&:nth-child(4) {
								width: 34px;
								margin: 0 auto;
							}

							&:nth-child(3) {
								width: 28.2px;
								margin: 0 auto;
							}

							&:nth-child(6) {
								width: 20.2px;
								margin: 0 auto;
							}

							&:nth-child(7) {
								width: 25px;
								margin: 0 auto;
							}
						}
					}

					.calendar-week {
						display: flex;

						.calendar-weekday {
							width: calc(100% / 7);
							min-height: 4em;
							display: flex;
							padding: 0.25rem;
							flex-wrap: wrap;
							justify-content: space-between;

							border: 1px solid rgba($sophisticated-white, 0.5);

							.calendar-weekday-header {
								display: flex;
								margin-bottom: 0.25rem;
								padding: 0;

								.calendar-weekday-date {
									height: 1rem;
									width: 1rem;

									border-radius: 2.5rem;
									font-weight: 300;

									&.today {
										background: #ef4036;
										border-right: 1px solid darken(#ef4036, 20%);
										border-bottom: 1px solid darken(#ef4036, 20%);
									}
								}

								.calendar-weekday-day-rotation {
									display: none;
									margin-left: auto;
									padding: 0 0.25rem;

									color: darken($sophisticated-white, 40%);
									font-size: 0.75rem;
								}
							}

							.event {
								flex: 0 0 1rem;
								position:relative;
								height: 1rem;

								margin-bottom: 0.25rem;
								padding: 0.25rem;

								border-radius: 0.25rem;
								border-right: 2px solid;
								border-bottom: 2px solid;

								&.text-dark {
									color: #333;
								}

								&.continue-left {
									border-top-left-radius: 0;
									border-bottom-left-radius: 0;
								}

								&.continue-right {
									border-top-right-radius: 0;
									border-bottom-right-radius: 0;
								}

								.event-title,
								.event-desc {
									overflow: hidden;
									white-space: nowrap;
									text-overflow: ellipsis;
									display: none;
								}

								.event-title {
									font-weight: 600;
								}

								.event-desc {
									font-weight: 300;
								}

								.svg-cross {
									position:absolute;
									top:0;
									left:0;
									right:0;
									bottom:0;
									height: 100%;
									width: 100%;
									fill-opacity: 0;
									stroke:#FF0000;
									stroke-width: 50;
									stroke-dasharray: 3220;
									stroke-dashoffset: 3220;
									z-index: -1;
								}

								.crossed {
									z-index: 10;
									animation: draw 0.5s linear forwards;
								}
							}
						}
					}
				}
			}

			.sidebar {
				transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
				margin-left: -100%;
				width: 80%;
				padding: 0.5rem;
				position: relative;
				z-index: 11;

				&.sidebar-collapsed {
					margin-left: 0;
					margin-right: -100%;
					transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
				}

				.sidebar-close {
					position: absolute;
					right: 1em;
					top: 1em;
					cursor: pointer;
				}

				.sidebar-header {
					padding: 0 0.5rem;

					text-align: center;

					&.coming-up {
						text-align: left;
					}

					h1 {
						font-weight: 300;
					}

					.sidebar-buttons {
						display: block;
						margin: 1rem auto 0.5rem;
						text-align: center;
					}
				}

				.coming-up,
				.day-selection {
					position:absolute;
					top:6em;
					left:0.5em;
					right:0.5em;
					bottom:0.5em;
					overflow:auto;
					padding-right: 0.5em;

					.event {
						margin-bottom: 0.25rem;
						padding: 0.25rem;

						.event-class {
							margin-bottom: 0.25rem;
							display: flex;
							justify-content: space-between;
							align-items: flex-end;

							.event-class-name,
							.event-class-teacher {
								display: inline-block;
								margin: 0;
							}

							.event-class-name {
								font-size: 1.25rem;
							}

							.event-class-teacher {
								font-size: 1rem;
							}
						}

						.event-content {
							padding: 0.25rem;
							border-radius: 0.25rem;
							border-right: 2px solid;
							border-bottom: 2px solid;
							position: relative;

							&.text-dark {
								color: #333;
							}

							.event-manage {
								margin-left: 0.25rem;
								float: right;
								z-index: 11;
							}

							.event-title,
							.event-desc {
								overflow-wrap: break-word;
							}

							.event-title {
								font-size: 1.25rem;
								font-weight: 600;
							}

							.event-desc {
								font-weight: 300;
							}

							.svg-cross {
								position:absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								height: 100%;
								width: 100%;
								fill-opacity: 0;
								stroke:#FF0000;
								stroke-width: 50;
								stroke-dasharray: 3220;
								stroke-dashoffset: 3220;
								z-index: -1;
							}

							.cross-animated {
								z-index: 10;
								animation: draw 0.5s linear forwards;
							}

							.uncross-animated {
								z-index: 10;
								animation: draw 0.5s linear backwards reverse;
							}

							@keyframes draw {
								to {
									stroke-dashoffset: 0;
								}
							}
						}
					}
				}

				.coming-up {

					.coming-up-day {

						.coming-up-due {
							margin-bottom: 0.5rem;
							padding-top: 1rem;
							border-bottom: 1px solid rgba($sophisticated-white, 0.5);

							.due,
							.date {
								display: inline-block;
								margin: 0;
								font-size: 1.25rem;
								font-weight: 600;
							}

							.date {
								float: right;
								font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
}

.create-event-modal,
.edit-event-modal {
	.modal-body {
		.create-event-register {
			text-align: center;
		}

		.event-date {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			datepicker {
				display: inline-block;
			}
		}
	}
}

@media screen and (min-width:544px) {
	.planner-interface {
		// Add padding instead of margin so clicking the bottom will also deselect the day
		padding: 2rem 0 6rem 0;

		.planner-container {
			margin-left: 4em;
			margin-right: 4em;

			.calendar-container {
				.calendar {
					.month-navigation {
						.previous-month,
						.current-month,
						.next-month {
							padding: 1rem;
							font-size: 1.5rem;
						}
					}

					.calendar-grid {

						.calendar-weekdays {
							.weekday {
								display: inline-block;

								text-align: center;
								font-weight: 600;
							}
						}

						.calendar-week {

							.calendar-weekday {
								min-height: 8rem;
								display: inline-block;

								.calendar-weekday-date {
									display: flex;
									justify-content: center;
									align-items: center;

									height: 1rem;
									width: 1rem;
									margin-bottom: 0.25rem;
									padding: 0.75rem;

									border-radius: 2.5rem;
									font-weight: 300;
								}

								.event {
									height: inherit;

									.event-title {
										display: block;
									}
								}
							}
						}
					}
				}

				.sidebar {
					width: 80%;
					padding: 0.5rem;
					position: relative;

					.coming-up,
					.day-selection {
						.event {

							.event-content {

								&:hover {
									.event-manage {
										opacity: 1;
									}
								}

								.event-manage {
									opacity: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width:992px) {
	.planner-interface {
		.planner-container {
			.calendar-container {
				.calendar {
					width: calc(70% - 0.25rem);
					.calendar-grid {
						.calendar-weekdays {
							display: flex;
							.weekday {
								overflow: hidden;

								text-align: center;
								font-weight: 600;
								// Shorten the weekdays into their abbrieviations
								width: calc(100% / 7);
								margin: 0;
								&:nth-child(2), &:nth-child(4) {
									width: calc(100% / 7);
								}
								&:nth-child(3) {
									width: calc(100% / 7);
								}
								&:nth-child(6) {
									width: calc(100% / 7);
								}
								&:nth-child(7) {
									width: calc(100% / 7);
								}
							}
						}
						.calendar-week {
							.calendar-weekday {

								.calendar-weekday-header .calendar-weekday-day-rotation {
									display: block;
								}

								.event {
									position:relative;
									height: inherit;

									margin-bottom: 0.25rem;
									padding: 0.25rem;

									.event-title,
									.event-desc {
										display: block;
									}

									.event-title {
										font-weight: 600;
									}

									.event-desc {
										font-weight: 300;
									}
								}
							}
						}
					}
				}

				.sidebar {
					width: calc(30% - 0.25rem);

					transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
					margin-left: inherit;

					&.sidebar-collapsed {
						margin-right: inherit;
					}

					.sidebar-close {
						display: none;
					}

					.coming-up, .day-selection {
						position: absolute;
						left: 0.5rem;
						right: 0.5rem;
						bottom: 0.5rem;
						overflow: auto;
						.event {
							.event-content {
								&:hover {
									.event-manage {
										opacity: 1;
									}
								}
								.event-manage {
									opacity: 0;
								}
							}
						}
					}

					.coming-up {
						top: 8rem;
					}

					.day-selection {
						top: 10rem;
					}
				}
			}
		}
	}
}
