<div class="forgot-container">
	<!-- Regular Form -->
	<div blur *ngIf="!submitted" class="forgot-form">
		<h1>Either you forgot your password, or Nick messed up the database again.</h1>
		<form #forgotForm="ngForm" (ngSubmit)="forgotPassword()" novalidate>
			<fieldset class="form-group" [class.has-warning]="userInput.dirty && !isAlphabetic(user)">
				<legend>Username</legend>
				<div class="input-group">
					<input #userInput="ngModel" class="form-control" [class.form-control-warning]="userInput.dirty && !isAlphabetic(user)" [(ngModel)]="user" name="user" placeholder="Username" required>
					<div class="input-group-addon">@micds.org</div>
				</div>
				<p class="form-text form-control-feedback text-muted">Your username is the prefix of your MICDS email. This typically <strong>does not</strong> contain numbers or weird symbols.</p>
			</fieldset>
			<button class="btn btn-success btn-lg btn-block" [disabled]="!forgotForm.valid">Send me an Email</button>
		</form>
	</div>
	<!-- Loading Screen -->
	<div blur *ngIf="submitted && forgotResponse === null" class="forgot-response">
		<h1>Sending Email...</h1>
	</div>
	<!-- Success Response -->
	<div blur *ngIf="submitted && forgotResponse === true" class="forgot-response">
		<h1>Password Reset Email Sent!</h1>
		<p>Please wait a few minutes for the email to come through. If it isn't in your inbox, check your spam.</p>
		<i class="fa fa-check fa-5x"></i>
		<a class="gmail btn btn-info btn-lg" href="https://mail.google.com">Click here to go to Gmail</a>
	</div>
	<!-- Failure Response -->
	<div blur *ngIf="submitted && typeOf(forgotResponse) === 'string'" class="forgot-response">
		<h1>{{forgotResponse}}</h1>
		<i class="fa fa-times fa-5x"></i>
		<p><a (click)="resubmitForm()">Try again</a> or contact support if an unexpected error keeps happening.</p>
	</div>
</div>
