<div class="suggestions-container">
	<!-- Regular Form -->
	<div mymicds-blur *ngIf="!submitted" class="suggestions-form">
		<h1>Suggestions</h1>
		<form [formGroup]="suggestionsForm" (ngSubmit)="submitSuggestions()" novalidate>
			<div class="form-group">
				<label for="type-input">Type</label>
				<select formControlName="type" class="form-control" id="type-input">
					<option value="suggestion">Suggestion</option>
					<option value="bug">Bug</option>
					<option value="other">Other</option>
				</select>
			</div>
			<div class="form-group">
				<textarea formControlName="submission" class="form-control" row="4" placeholder="Describe your inquiry here."></textarea>
			</div>
			<button class="btn btn-success btn-lg btn-block" [disabled]="!suggestionsForm.valid">Submit</button>
		</form>
	</div>
	<!-- Loading Screen -->
	<div mymicds-blur *ngIf="submitted && suggestionResponse === null" class="suggestions-response">
		<h1>Submitting Suggestion...</h1>
	</div>
	<!-- Success Response -->
	<div mymicds-blur *ngIf="submitted && suggestionResponse === true" class="suggestions-response">
		<h1>Success!</h1>
		<p>The MyMICDS Development Team is working on it. We'll try to send you a follow-up email.</p>
		<fa-icon icon="check" size="5x"></fa-icon>
		<p>Thanks for helping improve the site!</p>
	</div>
	<!-- Failure Response -->
	<div mymicds-blur *ngIf="submitted && typeOf(suggestionResponse) === 'string'" class="suggestions-response">
		<h1>{{suggestionResponse}}</h1>
		<fa-icon icon="times" size="5x"></fa-icon>
		<p><a (click)="resubmitForm()">Try again</a> or contact support if an unexpected error keeps happening.</p>
	</div>
</div>
