@import '../../../styles/settings';

.unsubscribe-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.unsubscribe-response {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}

		.fa {
			display: block;
			margin-bottom: 1rem;
		}

		.unsubscribe-success {
			font-size: 2rem;
		}
	}
}
