$sophisticated-white: #eee; // "Because pure white doesn't occur in the natural world."
$background-url: 'http://localhost:1420/user-backgrounds/default/normal.jpg';
$background-blur-url: 'http://localhost:1420/user-backgrounds/default/blur.jpg';
$blur-margin: 5px;
