@import 'config';

$sophisticated-white: #eee; // "Because pure white doesn't occur in the natural world."
$background-url: $backend-url + '/user-backgrounds/default/normal.jpg';
$background-url--blur: $backend-url + '/user-backgrounds/default/blur.jpg';
$blur-margin: 5px;
