@import 'settings';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background-image: url($background-url);
	background-size: cover;
	background-attachment: fixed;
}

[blur] {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}

[blur--dark] {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}

[blur--white] {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}
