@import 'settings';
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

.background-image {
	background-size: cover;
	background-attachment: fixed;
}

.blur {
	@include blur();
}

.blur--dark {
	@include blur(rgba(0, 0, 0, 0.8));
}

.blur--white {
	@include blur(rgba(255, 255, 255, 0.5));
}
