<div class="forgot-container">
	<!-- Regular Form -->
	<div mymicds-blur *ngIf="!submitted" class="forgot-form">
		<h1>Either you forgot your password, or Nick messed up the database again.</h1>
		<form #forgotForm="ngForm" (ngSubmit)="forgotPassword()" novalidate>
			<fieldset
				class="form-group"
				[class.has-warning]="userInput.dirty && !isAlphabetic(user)"
			>
				<legend>Username</legend>
				<div class="form-element input-group">
					<input
						#userInput="ngModel"
						class="form-control"
						[(ngModel)]="user"
						name="user"
						placeholder="Username"
						required
					/>
					<div class="input-group-append">
						<div class="input-group-text">@micds.org</div>
					</div>
				</div>
				<p class="form-text" [class.text-warning]="!isAlphabetic(userInput.value)">
					Your username is the prefix of your MICDS email. This typically
					<strong>does not</strong> contain numbers or weird symbols.
				</p>
			</fieldset>
			<button class="btn btn-success btn-lg btn-block" [disabled]="!forgotForm.valid">
				Send me an Email
			</button>
		</form>
	</div>
	<!-- Loading Screen -->
	<div mymicds-blur *ngIf="submitted && forgotResponse === null" class="forgot-response">
		<h1>Sending Email...</h1>
	</div>
	<!-- Success Response -->
	<div mymicds-blur *ngIf="submitted && forgotResponse === true" class="forgot-response">
		<h1>Password Reset Email Sent!</h1>
		<p>
			Please wait a few minutes for the email to come through. If it isn't in your inbox,
			check your spam.
		</p>
		<fa-icon icon="check" size="5x"></fa-icon>
		<a class="gmail btn btn-info btn-lg" href="https://mail.google.com"
			>Click here to go to Gmail</a
		>
	</div>
	<!-- Failure Response -->
	<div
		mymicds-blur
		*ngIf="submitted && typeOf(forgotResponse) === 'string'"
		class="forgot-response"
	>
		<h1>{{ forgotResponse }}</h1>
		<fa-icon icon="times" size="5x"></fa-icon>
		<p>
			<a (click)="resubmitForm()">Try again</a> or contact support if an unexpected error
			keeps happening.
		</p>
	</div>
</div>
