@import '../../../styles/settings';

.inspector-menu {
	display: inline-block;
	margin-top: 2rem;
	margin-left: 2rem;
	padding: 1rem;

	border-radius: 0.5rem;
	color: $sophisticated-white;

	.inspector-options {
		display: flex;

		.inspector-option:not(:last-child) {
			margin-right: 1rem;
		}
	}
}

.module-container-container {
	position: relative;
	margin: 1rem 2rem 6rem;

	// Allow visible overflow on dev so we know if our modules are actually going out of bounds
	mymicds-module-container {
		overflow: visible;
	}

	.resize-icon {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 100;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0.25rem;

		opacity: 0;
		transition-duration: 250ms;
		transition-timing-function: ease-in-out;

		color: $sophisticated-white;
	}

	&:hover .resize-icon {
		opacity: 1;
	}

	mymicds-module-container {
		height: 100%;
	}
}
