<div class="container">
	<div mymicds-blur class="about-header">
		<h1>About MyMICDS<small>.net</small></h1>
		<div class="social-icons">
			<a href="https://github.com/michaelgira23/MyMICDS-v2" target="_blank">
				<i class="fa fa-github" aria-hidden="true"></i> GitHub
			</a>
			<a href="https://twitter.com/MyMICDS" target="_blank">
				<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
			</a>
			<a href="https://skills-store.amazon.com/deeplink/dp/B076DWGCZY?deviceType=app&share&refSuffix=ss_copy" target="_blank">
				<i class="fa fa-amazon" aria-hidden="true"></i> Alexa Skill
			</a>
		</div>
	</div>
	<div class="about-body">

		<div mymicds-blur id="more" class="subtitle">
			<h2><strong>We're Everywhere.</strong></h2>
		</div>
		<div mymicds-blur class="more">
			<p>
				<a href="https://skills-store.amazon.com/deeplink/dp/B076DWGCZY?deviceType=app&share&refSuffix=ss_copy" target="_blank">
					<i class="fa fa-amazon" aria-hidden="true"></i>
					Ask Alexa what's for lunch with the MyMICDS Alexa Skill!
				</a>
			</p>
			<p>
				<a href="https://twitter.com/MyMICDS" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					Follow us on Twitter to get the latest updates!
				</a>
			</p>
		</div>

		<div mymicds-blur id="dev-team" class="subtitle">
			<h2>The Development Team</h2>
		</div>
		<div mymicds-blur class="dev-team">
			<div class="developers">
				<div *ngFor="let dev of activeDevelopers" class="developer card">
					<div class="card-block">
						<h4 class="card-title">{{ dev.firstName }}<br>{{ dev.lastName }}</h4>
						<h6 class="card-subtitle text-muted">Class of {{ dev.gradYear }}</h6>
					</div>
					<img [src]="dev.image">
					<div class="card-block">
						<p class="card-text">{{ dev.title }}</p>
					</div>
				</div>
			</div>
		</div>

		<div mymicds-blur id="notable-mentions" class="subtitle">
			<h2>Notable Mentions</h2>
		</div>
		<div mymicds-blur class="dev-team">
			<div class="developers">
				<div *ngFor="let dev of notableMentions" class="developer card">
					<div class="card-block">
						<h4 class="card-title">{{ dev.firstName }}<br>{{ dev.lastName }}</h4>
						<h6 class="card-subtitle text-muted">Class of {{ dev.gradYear }}</h6>
					</div>
					<img [src]="dev.image">
					<div class="card-block">
						<p class="card-text">{{ dev.title }}</p>
					</div>
				</div>
			</div>
		</div>

		<div mymicds-blur id="alumni" class="subtitle">
			<h2>Alumni</h2>
		</div>
		<div mymicds-blur class="dev-team">
			<div class="developers">
				<div *ngFor="let alum of alumni" class="developer card">
					<div class="card-block">
						<h4 class="card-title">{{ alum.firstName }}<br>{{ alum.lastName }}</h4>
						<h6 class="card-subtitle text-muted">Class of {{ alum.gradYear }}</h6>
					</div>
					<img [src]="alum.image">
					<div class="card-block">
						<p class="card-text">{{ alum.title }}</p>
					</div>
				</div>
			</div>
		</div>

		<div mymicds-blur id="join-us" class="join-us">
			<h3>You know what you should do? <strong>Join the development team.</strong></h3>
			<p class="no seriously please join">If you are already a coding master or if you're just curious about coding, we'll be happy to have you! We can provide special resources to help you code, and eventually let you practice your skills on a website that people actually use! If you are even just considering it, we highly encourage you to email support@mymicds.net. <strong>There is no commitment whatsoever if you email us, and no time commitment if you choose to join the development team.</strong> If you don't want to program but have other skills you think you can offer to the website, then also feel free to contact us.</p>
			<p>Email <strong>support@mymicds.net</strong></p>
		</div>

		<div mymicds-blur id="stats" class="subtitle">
			<h2>{{ stats ? 'Statistics' : 'Collecting Statistics...' }}</h2>
		</div>
		<ng-container *ngIf="stats">
			<div mymicds-blur class="stats">
				<div class="stat">
					<div class="stat-big">{{ stats.registered.total }}</div>
					<div class="stat-label">have registered</div>
				</div>
				<div class="stat">
					<div class="stat-big">{{ stats.registered.today }}</div>
					<div class="stat-label">registered today</div>
				</div>
				<div class="stat">
					<div class="stat-big">{{ stats.visitedToday.total }}</div>
					<div class="stat-label">visited today</div>
				</div>
			</div>
			<div mymicds-blur class="registered-graph-container">
				<h3>Users Registered</h3>
				<canvas id="registerCountChart"></canvas>
			</div>
			<div mymicds-blur class="visited-graph-container">
				<h3>Users Visited Today</h3>
				<canvas id="visitedTodayChart"></canvas>
			</div>
		</ng-container>

		<div mymicds-blur id="disclaimer" class="subtitle">
			<h2>Disclaimer</h2>
		</div>
		<div mymicds-blur class="disclaimer">
			<p><strong>MyMICDS.net is not affiliated with Mary Institute and Saint Louis Country Day School.</strong> We hash all of our passwords, but as an extra security measure, <strong>we recommend your password be different from your school password.</strong> In order to stay as transparent as possible, <a href="https://github.com/michaelgira23/MyMICDS-v2" target="_blank">the MyMICDS source code is publicly available via GitHub.</a></p>
		</div>
		<div mymicds-blur id="email" class="email">
			<h3>Have any issues or suggestions? Notice any bugs?</h3>
			<p>Email <strong>support@mymicds.net</strong> or go to our <a routerLink="/suggestions">Suggestions page</a>!</p>
		</div>
	</div>
</div>
