@import '../../../styles/settings';

/* --------------------------
  Main Styles
--------------------------- */

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.about-header {
		display: inline-block;
		margin-bottom: 5px;
		padding: 1rem 4rem;
		width: 100%;
		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}

		h3 {
			font-weight: 300;
		}

		.github-logo {
			width: 2rem;

			.cls-1, .cls-2 {
				transition-duration: 0.25s;
				transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
				fill: #fff;
			}

			.cls-1 {
				fill-rule: evenodd;
			}

			&:hover {
				.cls-1, .cls-2 {
					fill: #4078c0;
				}
			}
		}
	}

	.about-body {

		.subtitle {
			width: 100%;
			margin-top: 2rem;
			margin-bottom: 1rem;
			padding: 0.75rem;

			h2 {
				color: $sophisticated-white;
				text-align: center;
			}
		}

		> div {
			border-radius: 5px;
			margin-bottom: 0.5rem;
		}

		.more {
			margin-top: 2rem;
			padding: 1rem;

			strong {
				color: $sophisticated-white;
				font-size: 2rem;
			}

			a {
				font-size: 2rem;
				// font-
			}
		}

		.dev-team {
			padding: 1rem;

			h3 {
				margin-left: 1rem;
				margin-bottom: 1rem;
				text-align: left;
				color: $sophisticated-white;
				font-size: 3rem;
				font-weight: 300;
			}

			.developers {
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;

				.developer {
					max-width: 19%;
					min-width: 12rem;
					flex-basis: 0;
					flex-grow: 1;
					margin-bottom: 2rem;

					.card-block:first-child {
						text-align: left;
					}

					img {
						width: 100%;
					}
				}
			}
		}

		.join-us {
			padding: 1rem;
			color: $sophisticated-white;

			h3 {
				text-align: left;
				font-size: 2.25rem;
				font-weight: 300;
			}

			.no.seriously.please.join {
				margin-bottom: 2.5rem;
				text-align: left;
				font-size: 1.25rem;
				font-weight: 400;
			}

			a {
				margin-bottom: 0.5rem;
			}

			.contact-email {
				font-weight: 300;
				letter-spacing: 0.03rem;
			}
		}

		.stats {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.stat {
				width: 100%;
				padding: 1rem;
				text-align: center;
				color: $sophisticated-white;

				&:nth-of-type(2) {
					border-top: 1px solid rgba($sophisticated-white, 0.5);
					border-bottom: 1px solid rgba($sophisticated-white, 0.5);
					border-left: none;
					border-right: none;
				}

				.stat-big {
					font-size: 5rem;
					font-weight: 500;
					line-height: 0.7;
				}

				.stat-label {
					font-size: 1.25rem;
					font-weight: 300;
					letter-spacing: 0.03rem;
				}
			}
		}

		.registered-graph-container,
		.visited-graph-container {
			padding: 1rem;
			color: $sophisticated-white;
		}

		.disclaimer {
			padding: 1rem;
			color: $sophisticated-white;
			text-align: left;

			p {
				margin: 0;
				font-size: 1.25rem;
			}
		}

		.email {
			padding: 1rem;
			color: $sophisticated-white;

			p {
				margin: 0;
			}
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 544px) {
	.container {
		.about-header {
			padding: 1rem 6rem
		}

		.about-body .stats {
			flex-direction: row;

			.stat:nth-of-type(2) {
				border-top: none;
				border-bottom: none;
				border-left: 1px solid rgba($sophisticated-white, 0.5);
				border-right: 1px solid rgba($sophisticated-white, 0.5);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.container .about-body {
		.dev-team .developers .developer {
			flex-basis: 30%;
		}

		.registered-graph-container,
		.visited-graph-container {
			padding: 2rem;
		}
	}
}

@media (min-width: 992px) {
	.container .about-body {
		.visited-graph-container {
			padding: 2rem 25%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.container .about-body .dev-team .developers .developer {
		flex-basis: 16%;
	}
}
