<!-- <p>Hang in there, there's only</p> -->
<!-- <h1 class="display-3"><strong>{{ daysLeft }}</strong> day{{ daysLeft === 1 ? '' : 's' }} left.</h1> -->
<div #moduleContainer class="countdown-wrapper" [style.background-position]="">
	<h2 class="display-3 countdown days">
		<div [style.transform]="'scale(' + daysScale + ')'">
			<div [@shaking]="shaking">{{ daysLeft }} Days</div>
		</div>
		<div class="details mt-2">{{ hoursLeft }} Hours {{ minutesLeft }} Minutes</div>
	</h2>
	<h2 class="display-4 until">until...</h2>
	<h2 class="event-label display-3" mymicds-blur>{{ eventLabel }}</h2>
	<svg class="countdown-progress" viewBox='0 0 510 510' preserveAspectRatio='none'>
		<path d='M5,5 505,5 505,505 5,505 5,2.5'/>
		<!-- end is start point - stroke width/2 -->
	</svg>
</div>
