<div class="container">
	<div mymicds-blur *ngIf="userInfo === null || infoForm === null" class="settings-header">
		<h1>Fetching user settings...</h1>
	</div>
	<div mymicds-blur *ngIf="userInfo !== null && infoForm !== null" class="settings-header">
		<h1>Settings</h1>
		<h3>{{userInfo.user}}</h3>
	</div>
	<div *ngIf="userInfo !== null && infoForm !== null" class="settings-body">

		<!-- Change Basic Information -->
		<mymicds-info></mymicds-info>

		<!-- Change Password -->
		<mymicds-change-password></mymicds-change-password>

		<!-- Change Background -->
		<mymicds-background></mymicds-background>

		<!-- Set URLs -->
		<mymicds-url></mymicds-url>

		<!-- Set Classes -->
		<mymicds-classes></mymicds-classes>
	</div>
</div>
