@import '../../../styles/settings';

.register-container {
	padding: 2rem 0 0 0;

	.register-header {

		h1 {
			padding: 1rem;
			text-align: center;
			color: $sophisticated-white;
			font-weight: 600;
		}

		.step-count {
			margin-bottom: 1rem;
			padding: 1rem;

			display: flex;
			justify-content: space-around;
			align-items: center;

			&:before {
				content: '';
				border-bottom: 1px solid $sophisticated-white;
				position: absolute;
				width: calc(100% - 2rem);
			}

			.dot {
				width: 2.5rem;
				height: 2.5rem;

				display: flex;
				justify-content: center;
				align-items: center;

				border: 1px solid $sophisticated-white;
				border-radius: 50%;

				z-index: 1;

				&:before {
					content: '';
					width: 0;
					height: 0;

					transition-duration: 600ms;
					transition-timing-function: ease-in-out;
				}

				&.curr:before {
					width: 1rem;
					height: 1rem;
					border-radius: 0.5rem;
					background: rgba($sophisticated-white, 0.5);
				}

				&.filled:before {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 1.25rem;
					background: $sophisticated-white;
				}
			}
		}
	}
	.register-form {
		color: $sophisticated-white;
		width: 100%;
		position: relative;

		// below is mobile layout WIP
		// .form-group {
		//     width: 30rem;
		//     height: 40rem;
		//     margin: auto;
		//     padding: 1.5rem 2.5rem;
		//     border-radius: 1rem;
		//     display: flex;
		//     flex-direction: column;
		//     .register-header {
		//         margin-bottom: 3rem;
		//         border-bottom: solid white 1px;
		//         min-height: 7.5rem;
		//     }
		//     .register-body {}
		//     .register-footer {
		//         margin-top: auto;
		//         display: flex;
		//         flex-direction: column;
		//         button {
		//             align-self: flex-end;
		//         }
		//     }
		// }

		.step-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;

			.form-group {
				padding: 1rem;
				width: 100%;
				height: 50rem;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				hr {
					width: 100%;
					border-bottom: 1px solid white;
				}

				.register-inputs {
					width: 80%;
					margin: 0 auto;
					.form-control {
						height: 6rem;
						font-size: 3rem;
					}
					.form-control-feedback {
						font-size: 1.5rem;
					}
				}

				button.next {
					align-self: flex-end;
				}

				.register-footer {
					align-self: center;
					display: flex;
					justify-content: space-around;
					button {
						width: 10rem;
					}
				}
			}
		}

		.full-name {
			display: flex;
			justify-content: space-between;

			div {
				width: 45%;

				label {
					justify-content: flex-start;
				}

				input {
					width: 100%;
				}
			}
		}
		.grad-year {
			.grade-spacer {
				margin-bottom: 0.75rem;
				display: flex;
				justify-content: center;
				align-items: center;

				.line {
					height: 1px;
					width: 100%;
					border-bottom: 1px solid $sophisticated-white;
				}

				.text {
					margin: 0 1rem;
				}
			}

			.student span {
				margin-right: 0.5rem;
			}
			.teacher.checkbox {
				label {
					font-size: 3rem;
					input {
						height: 2rem;
						width: 2rem;
					}
				}
			}
		}

		.register-response {
			text-align: center;
			height: 20rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			justify-content: space-evenly;
		}

		fieldset:last-of-type {
			margin-bottom: 2rem;
		}
	}
}

// .register-container {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;

// }
