<div class="container">
	<div blur *ngIf="userData === null || infoForm === null" class="settings-header">
		<h1>Fetching user settings...</h1>
	</div>
	<div blur *ngIf="userData !== null && infoForm !== null" class="settings-header">
		<h1>Settings</h1>
		<h3>{{userInfo.user}}</h3>
	</div>
	<div *ngIf="userData !== null && infoForm !== null" class="settings-body">

		<!-- Change Basic Information -->
		<div blur class="basic-info settings-section half">
			<h3>Basic Info</h3>
			<form [formGroup]="infoForm" (ngSubmit)="changeInfo()" novalidate>
				<fieldset class="form-group">
					<legend>Name</legend>
					<div class="full-name form-inline">
						<input class="form-control" formControlName="firstName" placeholder="First Name">
						<input class="form-control" formControlName="lastName" placeholder="Last Name">
					</div>
				</fieldset>
				<fieldset class="grad-year form-group">
					<legend>Grade</legend>
					<div class="teacher checkbox">
						<label>
							<input type="checkbox" formControlName="teacher">
							I am a Teacher
						</label>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="grade-spacer">
						<span class="line"></span>
						<span class="text">or</span>
						<span class="line"></span>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="student">
						<span>Choose your graduation year</span>
						<select class="custom-select" formControlName="gradYear">
							<option *ngFor="let year of gradeRange" [value]="year">Class of {{year}}</option>
						</select>
					</div>
				</fieldset>
				<button class="btn btn-info" [disabled]="!infoForm.valid || !valueChanged()">Save Changes</button>
			</form>
		</div>

		<!-- Change Password -->
		<div blur class="settings-section half">
			<h3>Change Password</h3>
			<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Old Password</label>
					<input id="old-password" type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">New Password</label>
					<input id="new-password" type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Confirm New Password</label>
					<input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
					<div *ngIf="passwordForm.errors?.mismatchedPasswords" class="text-danger">Passwords do not match</div>
				</div>
				<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
				<button class="btn btn-info" [disabled]="!passwordForm.valid">Change Password</button>
			</form>
		</div>

		<!-- Change Background -->
		<div blur class="change-background settings-section half">
			<h3>Change Background</h3>
			<form class="upload-background-form" (submit)="uploadBackground($event)">
				<div class="form-group">
					<label for="upload-background">Upload Background</label>
					<input id="upload-background" type="file" class="form-control-file" (change)="backgroundFileChange()" accept="image/png,image/jpeg">
					<small class="form-text text-muted">All images must be school appropriate. Any violent, graphic or obscene images will be deleted.</small>
				</div>
				<button class="btn btn-info" [disabled]="!fileSelected || uploadingBackground">{{ uploadingBackground ? 'Uploading...' : 'Upload'}}</button>
			</form>
			<button class="btn btn-danger" (click)="deleteBackground()" [disabled]="hasDefaultBackground">Revert to Default Background</button>
		</div>

		<!-- Set URLs -->
		<div blur class="settings-section half">
			<h3>URL Settings</h3>
			<form #portalForm="ngForm" class="portal-form" [class.has-success]="portalValid" [class.has-danger]="!portalValid" (ngSubmit)="changePortalURL()" novalidate>
				<label for="portal-url">Portal URL</label>
				<div class="input-group">
					<input id="portal-url" class="portal-url form-control form-control-success form-control-danger" [(ngModel)]="portalURL" name="portalURL" placeholder="Portal URL" autocomplete="off" required>
					<span class="input-group-btn">
						<button class="btn btn-info" [disabled]="!portalForm.valid || !portalValid">Save</button>
					</span>
				</div>
				<div *ngIf="portalURL?.length > 0" class="form-control-feedback">{{portalResponse}}</div>
				<p class="form-text text-muted">
					Submit your Portal URL to integrate your schedule into the site.
					<br>
					<a routerLink="/help">Find out how to get your Portal URL.</a>
				</p>
			</form>
			<form #canvasForm="ngForm" class="canvas-form" [class.has-success]="canvasValid" [class.has-danger]="!canvasValid" (ngSubmit)="changeCanvasURL()" novalidate>
				<label for="canvas-url">Canvas URL</label>
				<div class="input-group">
					<input id="canvas-url" class="canvas-url form-control form-control-success form-control-danger" [(ngModel)]="canvasURL" name="canvasURL" placeholder="Canvas URL" autocomplete="off" required>
					<span class="input-group-btn">
						<button class="btn btn-info" [disabled]="!canvasForm.valid || !canvasValid">Save</button>
					</span>
				</div>
				<div *ngIf="canvasURL?.length > 0" class="form-control-feedback">{{canvasResponse}}</div>
				<p class="form-text text-muted">
					Submit your Canvas URL to integrate your homework assignments into our digital planner.
					<br>
					<a routerLink="/help">Find out how to get your Canvas URL.</a>
				</p>
			</form>
		</div>

		<!-- Set Classes -->
		<div blur class="settings-section classes-form">
			<form #classesForm="ngForm" autocomplete="off" novalidate (ngSubmit)="updateClasses()">
				<h3>Set Classes</h3>
				<button type="button" class="btn btn-default classes-add-empty" (click)="addEmptyClass()" [disabled]="!classesList"><i class="fa fa-plus"></i></button>
				<button type="submit" class="btn btn-info classes-save" [disabled]="!classesList || !classesForm.valid || updatingClasses">Save</button>
				<button type="button" class="btn btn-success classes-restore" (click)="restoreClasses()" [disabled]="!classesList">restore</button>
				<div *ngIf="!classesList">Loading...</div>
					<table *ngIf="classesList">
						<thead>
							<tr>
								<th>Class Name</th>
								<th>Type</th>
								<th>Display Color</th>
								<th>Teacher</th>
								<th>Block</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let class of classesModel; let i=index">
								<td>
									<input [name]="class._id + '-name-' + i" class="form-control" placeholder="Class Name" required [(ngModel)]="classesModel[i].name">
								</td>
								<td>
									<select [name]="class._id + '-type-' + i" class="form-control" required [(ngModel)]="classesModel[i].type">
										<option *ngFor="let type of classesTypes" [value]="type">{{type[0] | uppercase}}{{type | slice:1}}</option>
									</select>
								</td>
								<td class="color-picker">
									<input [name]="class._id + '-color-' + i" class="form-control" required [(colorPicker)]="classesModel[i].color" [ngStyle]="applyColors(classesModel[i].color)" [value]="classesModel[i].color | uppercase">
								</td>
								<td class="form-inline">
									<select [name]="class._id + '-teacher-prefix-' + i" class="form-control teacher-prefix" required [(ngModel)]="classesModel[i].teacher.prefix">
										<option *ngFor="let prefix of teacherPrefixes" [value]="prefix">{{prefix}}</option>
									</select>
									<input [name]="class._id + '-teacher-first-name-' + i" class="form-control" required [(ngModel)]="classesModel[i].teacher.firstName" placeholder="First Name">
									<input [name]="class._id + '-teacher-last-name-' + i" class="form-control" required [(ngModel)]="classesModel[i].teacher.lastName" placeholder="Last Name">
								</td>
								<td class="classes-block">
									<select [name]="class._id + '-block-' + i" class="form-control" required [(ngModel)]="classesModel[i].block">
										<option *ngFor="let block of classesBlocks" [value]="block">{{block | uppercase}}</option>
									</select>
								</td>
								<td>
									<button type="button" class="btn btn-danger form-control" (click)="deleteClass(i)" [disabled]="updatingClasses"><i class="fa fa-trash"></i></button>
								</td>
								<td>
									<button type="button" class="btn btn-info form-control" (click)="aliasClass(i)" [disabled]="updatingClasses || !class._id"><i *ngIf="previousIndex !== i || aliasCollapsed" class="fa fa-link"></i><i *ngIf="previousIndex === i && !aliasCollapsed" class="fa fa-times"></i></button>
								</td>
							</tr>
						</tbody>
				</table>
			</form>
			<div class="collapse alias-form" [ngClass]="{'in': !aliasCollapsed}">
			  <div class="card card-block">
			    <form #aliasForm="ngForm" autocomplete="off" novalidate (ngSubmit)="updateAliases()" *ngIf="aliasesList">
						<table>
							<thead>
								<tr>
									<th class="alias-class-name">{{selectedAliasClass?.name}}</th>
									<th>Canvas Alias</th>
									<th>Portal Alias</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let class of portalClasses; let i = index">
									<td></td>
									<td class="alias-canvas">
										<div class="form-check" *ngIf="canvasClasses[i]">
										  <label class="form-check-label">
										    <input class="form-check-input" type="checkbox" [value]="canvasClasses[i]" [checked]="aliasRegistered('canvas', canvasClasses[i])" [disabled]="notOwnAlias('canvas', selectedAliasClass?._id, canvasClasses[i])" (change)="changeAlias($event, 'canvas', canvasClasses[i], selectedAliasClass._id)">
										    {{canvasClasses[i]}}
										  </label>
										</div>
									</td>
									<td>
										<div class="form-check" *ngIf="portalClasses[i]">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" [value]="portalClasses[i]" [checked]="aliasRegistered('portal', portalClasses[i])" [disabled]="notOwnAlias('canvas', selectedAliasClass?._id, canvasClasses[i])" (change)="changeAlias($event, 'portal', portalClasses[i], selectedAliasClass._id)">
												{{portalClasses[i]}}
											</label>
										</div>
									</td>
								<tr>
						</table>
					</form>
					<div *ngIf="!aliasesList">
						Loading...
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>
