@import 'app/styles/mixins';
@import 'app/styles/settings';

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

h1 {color: black}

.blur {
		width: 100%;
		display: inline-block;
		margin-bottom: $blur-margin;
		padding: 0.5rem;
		color: $sophisticated-white;

		@include blur(rgba(0, 0, 0, 0.5));

		&.blur-half {
			width: calc(50% - #{$blur-margin});
		}
	}

  .btn-default {
    color: black;
  }

.dropzone-container {
	padding: 20px 100px;
}
.bg-drop-zone { 
	border: dotted 3px lightgrey; 
	background-color: grey;
	height: 100px;
	}
.nv-file-over { border: dotted 3px red; } 
