<div class="container">
	<div *ngIf="userData === null || infoForm === null" class="settings-header">
		<h1>Fetching user settings...</h1>
	</div>
	<div *ngIf="userData !== null && infoForm !== null" class="settings-header">
		<h1>Settings</h1>
		<h3>{{userInfo.user}}</h3>
	</div>
	<div *ngIf="userData !== null && infoForm !== null" class="settings-body">
		<div class="settings-section half basic-info">
			<h3>Basic Info</h3>
			<form [formGroup]="infoForm" (ngSubmit)="changeInfo()" novalidate>
				<fieldset class="form-group">
					<legend>Name</legend>
					<div class="full-name form-inline">
						<input class="form-control" formControlName="firstName" placeholder="First Name">
						<input class="form-control" formControlName="lastName" placeholder="Last Name">
					</div>
				</fieldset>
				<fieldset class="grad-year form-group">
					<legend>Grade</legend>
					<div class="teacher checkbox">
						<label>
							<input type="checkbox" formControlName="teacher">
							I am a Teacher
						</label>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="grade-spacer">
						<span class="line"></span>
						<span class="text">or</span>
						<span class="line"></span>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="student">
						<span>Choose your graduation year</span>
						<select class="custom-select" formControlName="gradYear">
							<option *ngFor="let year of gradeRange" [value]="year">Class of {{year}}</option>
						</select>
					</div>
				</fieldset>
				<button class="btn btn-info" [disabled]="!infoForm.valid || !valueChanged()">Save Changes</button>
			</form>
		</div>
		<div class="settings-section half">
			<h3>Change Password</h3>
			<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Old Password</label>
					<input id="old-password" type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">New Password</label>
					<input id="new-password" type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Confirm New Password</label>
					<input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
					<div *ngIf="passwordForm.errors?.mismatchedPasswords" class="text-danger">Passwords do not match</div>
				</div>
				<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
				<button class="btn btn-info" [disabled]="!passwordForm.valid">Change Password</button>
			</form>
		</div>
		<div class="settings-section half">
			<h3>Change Background</h3>
			<form>
				<div class="form-group">
					<label for="upload-background">Upload Background</label>
					<input id="upload-background" type="file" class="form-control-file" accept="image/png,image/jpeg">
					<small class="form-text text-muted">All images must be school appropriate. Any violent, graphic or obscene images will be deleted.</small>
				</div>
				<button class="btn btn-info">Upload</button>
			</form>
			<button class="btn btn-danger">Revert to Default Background</button>
		</div>
		<div class="settings-section half url-settings">
			<h3>URL Settings</h3>
			<form #portalForm="ngForm" class="portal-form" [class.has-success]="portalValid" [class.has-danger]="!portalValid" (ngSubmit)="changePortalURL()" novalidate>
				<label for="portal-url">Portal URL</label>
				<div class="url-row">
					<input id="portal-url" class="portal-url form-control form-control-success form-control-danger" [(ngModel)]="portalURL" name="portalURL" placeholder="Portal URL" autocomplete="off" required>
					<button class="btn btn-info" [disabled]="!portalForm.valid || !portalValid">Save</button>
				</div>
				<div *ngIf="portalURL?.length > 0" class="form-control-feedback">{{portalResponse}}</div>
				<p class="form-text text-muted">
					Submit your Portal URL to integrate your schedule into the site.
					<br>
					<a routerLink="/help">Find out how to get your Portal URL.</a>
				</p>
			</form>
			<form #canvasForm="ngForm" class="canvas-form" [class.has-success]="canvasValid" [class.has-danger]="!canvasValid" (ngSubmit)="changeCanvasURL()" novalidate>
				<label for="canvas-url">Canvas URL</label>
				<div class="url-row">
					<input id="canvas-url" class="canvas-url form-control form-control-success form-control-danger" [(ngModel)]="canvasURL" name="canvasURL" placeholder="Canvas URL" autocomplete="off" required>
					<button class="btn btn-info" [disabled]="!canvasForm.valid || !canvasValid">Save</button>
				</div>
				<div *ngIf="canvasURL?.length > 0" class="form-control-feedback">{{portalResponse}}</div>
				<p class="form-text text-muted">
					Submit your Canvas URL to integrate your homework assignments into our digital planner.
					<br>
					<a routerLink="/help">Find out how to get your Canvas URL.</a>
				</p>
			</form>
		</div>
		<div class="settings-section">
			<h3>Set Classes</h3>
		</div>
	</div>
</div>


<!--<div class="container">

<div class="protected-settings my-top-content">
    <div class="alert alert-danger col-xs-12" *ngIf="errMsg">{{errMsg}}</div>
    <h1>Update your information</h1>

    <div class="blur">
    <form #nameForm="ngForm" (ngSubmit)="onSubmitName()">
        <h3>Username: {{user.user}}</h3>
        <div class="row">
            <fieldset class="form-group col-lg-4">
            <label for="firstname">First Name</label>
            <div class="input-group">
                <input #firstname="ngModel" type="text" class="form-control" id="InputFirstName" placeholder="" [(ngModel)]="user.firstName" name="firstname" required
                tooltip="Required"
                tooltipPlacement="right"
                tooltipTrigger=""
                [tooltipEnable]="!firstname.valid && !firstname.pristine"
                [tooltipIsOpen]="!firstname.valid &&!firstname.pristine">
                <!--<div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger input-group-addon">Name is required</div>
            </div>
            </fieldset>

            <fieldset class="form-group col-lg-4">
            <label for="lastname">Last Name</label>
            <div class="input-group">
                <input #lastname="ngModel" type="text" class="form-control" id="InputLastName" placeholder="" [(ngModel)]="user.lastName" name="lastname" required
                tooltip="Required"
                tooltipPlacement="right"
                tooltipTrigger=""
                [tooltipEnable]="!lastname.valid && !lastname.pristine"
                [tooltipIsOpen]="!lastname.valid && !lastname.pristine">
                <!--<div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger input-group-addon">Name is required</div>
            </div>
            </fieldset>
        </div>

        <div class="row">
            <fieldset class="form-group col-lg-2">
            <label for="gradyear">Year of graduation</label>
            <div class="input-group">
                <select class="custom-select" #gradyear="ngModel" type="gradyear" id="InputGradyear" placeholder="9th grade: 2019" [(ngModel)]="user.gradYear" name ="gradyear" required
                tooltip="Required"
                tooltipPlacement="right"
                tooltipTrigger=""
                [tooltipEnable]="!gradyear.valid && !gradyear.pristine"
                [tooltipIsOpen]="!gradyear.valid && !gradyear.pristine">
                    <option *ngFor="let g of gradeRange" [value]="g" [selected]="g==user.gradYear">{{g}}</option>
                </select>
                <!--<div [hidden]="gradyear.valid || gradyear.pristine" class="alert alert-danger">Year of graduation is required</div>
            </div>
            </fieldset>
            <div class="col-lg-2"><h2>OR</h2></div>
            <fieldset class="form-group col-lg-4">
            <div class="checkbox">
                    <label>
                    <input #teacher="ngModel" class="form-control" type="checkbox" id="InputCheckbox" name="teacher" [(ngModel)]="userIsTeacher">Are you a teacher/faculty in MICDS? Check if yes. (Will override year of graduation)
                    </label>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!nameForm.form.valid || !valueChanged()">Update</button>
    </form>
    <form #passForm="ngForm" (ngSubmit)="onSubmitPass()">
            <div class="alert alert-danger" *ngIf="passErrMsg">{{passErrMsg}}</div>
        <div class="row">
            <fieldset class="form-group col-lg-4">
                <div class="input-group">
                    <label for="oldPass">Old password</label>
                    <input class="form-control" type="password" [(ngModel)]="oldPass" name="oldPass" required>
                </div>
            </fieldset>
            <fieldset class="form-group col-lg-4">
                <div class="input-group">
                    <label for="newPass">New password</label>
                    <input class="form-control" type="password" [(ngModel)]="newPass" name="newPass" required>
                </div>
            </fieldset>
            <fieldset class="form-group col-lg-4">
                <div class="input-group">
                    <label for="repNewPass">Repeat new password</label>
                    <input class="form-control" type="password" [(ngModel)]="repNewPass" name="repNewPass" required>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!passForm.form.valid || !passwordValid()">Update Password</button>
    </form>
    </div>

    <div class="blur">
    <form #urlForm="ngForm" (ngSubmit)="onSubmitURL()">
        <div class="alert alert-danger col-xs-12" *ngIf="errMsg">{{URLerrMsg}}</div>
        <h3>URL Settings</h3>
        <div class="row">
            <fieldset class="form-group col-lg-4">
            <label for="canvasURL">Set Canvas URL</label>
            <div class="input-group">
                <input #canvasURL="ngModel" type="text" class="form-control urlInput" id="InputCanvasURL" placeholder="" [(ngModel)]="user.canvasURL" name="canvasURL"
                tooltip="You wont be able to get the schedule if this is set to empty."
                tooltipPlacement="bottom"
                tooltipTrigger=""
                [tooltipEnable]="!canvasURL.value"
                [tooltipIsOpen]="!canvasURL.value">
                <div class="input-group-addon" *ngIf="testingC">testing...</div> <div class="input-group-addon" *ngIf="validC">Valid!</div> <div class="input-group-addon" *ngIf="!validC">Invalid!</div>
            </div>
            <!--<div [hidden]="canvasURL.value" class="alert alert-warning">You wont be able to get the schedule if this is set to empty.</div>
            </fieldset>

            <fieldset class="form-group col-lg-4">
            <label for="portalURL">Set Portal URL</label>
            <div class="input-group">
                <input #portalURL="ngModel" type="text" class="form-control urlInput" id="InputPortalURL" placeholder="" [(ngModel)]="user.portalURL" name="portalURL"
                tooltip="You wont be able to get the planner events from the portal if this is set to empty."
                tooltipPlacement="bottom"
                tooltipTrigger=""
                [tooltipEnable]="!portalURL.value"
                [tooltipIsOpen]="!portalURL.value">
                <div class="input-group-addon" *ngIf="testingP">testing...</div> <div class="input-group-addon" *ngIf="validP">Valid!</div> <div class="input-group-addon" *ngIf="!validP">Invalid!</div>
            </div>
            <!--<div [hidden]="portalURL.value" class="alert alert-warning">You wont be able to get the planner events from the portal if this is set to empty.</div>
            </fieldset>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!(validC && validP)">Update</button>
    </form>
    </div>

    <div class="blur">
        <h3>Background Settings</h3>
        <div class="col-lg-6 dropzone-container">
            <div ng2FileDrop
                [ngClass]="{'nv-file-over': bgDropZoneOver}"
                (fileOver)="fileOverDropZone($event)"
                [uploader]="uploader"
                class="bg-drop-zone">
                Drop your background here
            </div>
        </div>
        <div class="col-lg-6">
            <label for="bgSelect">Select a background to upload</label>
            <input name="bgSelect" type="file" ng2FileSelect [uploader]="uploader" />
        </div>
        <table class="table col-lg-12">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td >
                        {{item.progress}}%
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                        <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="fa fa-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="fa fa-ban"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="fa fa-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>

</div>-->
