<div class="container">
	<div *ngIf="userData === null || infoForm === null" class="settings-header">
		<h1>Fetching user settings...</h1>
	</div>
	<div *ngIf="userData !== null && infoForm !== null" class="settings-header">
		<h1>Settings</h1>
		<h3>{{userInfo.user}}</h3>
	</div>
	<div *ngIf="userData !== null && infoForm !== null" class="settings-body">
		<div class="basic-info settings-section half">
			<h3>Basic Info</h3>
			<form [formGroup]="infoForm" (ngSubmit)="changeInfo()" novalidate>
				<fieldset class="form-group">
					<legend>Name</legend>
					<div class="full-name form-inline">
						<input class="form-control" formControlName="firstName" placeholder="First Name">
						<input class="form-control" formControlName="lastName" placeholder="Last Name">
					</div>
				</fieldset>
				<fieldset class="grad-year form-group">
					<legend>Grade</legend>
					<div class="teacher checkbox">
						<label>
							<input type="checkbox" formControlName="teacher">
							I am a Teacher
						</label>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="grade-spacer">
						<span class="line"></span>
						<span class="text">or</span>
						<span class="line"></span>
					</div>
					<div *ngIf="!infoForm.controls.teacher.value" class="student">
						<span>Choose your graduation year</span>
						<select class="custom-select" formControlName="gradYear">
							<option *ngFor="let year of gradeRange" [value]="year">Class of {{year}}</option>
						</select>
					</div>
				</fieldset>
				<button class="btn btn-info" [disabled]="!infoForm.valid || !valueChanged()">Save Changes</button>
			</form>
		</div>
		<div class="settings-section half">
			<h3>Change Password</h3>
			<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Old Password</label>
					<input id="old-password" type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">New Password</label>
					<input id="new-password" type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
				</div>
				<div class="form-group">
					<label class="col-form-label" for="old-password">Confirm New Password</label>
					<input id="confirm-password" type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
					<div *ngIf="passwordForm.errors?.mismatchedPasswords" class="text-danger">Passwords do not match</div>
				</div>
				<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
				<button class="btn btn-info" [disabled]="!passwordForm.valid">Change Password</button>
			</form>
		</div>
		<div class="change-background settings-section half">
			<h3>Change Background</h3>
			<form class="upload-background-form" (submit)="uploadBackground($event)">
				<div class="form-group">
					<label for="upload-background">Upload Background</label>
					<input id="upload-background" type="file" class="form-control-file" (change)="fileChange()" accept="image/png,image/jpeg">
					<small class="form-text text-muted">All images must be school appropriate. Any violent, graphic or obscene images will be deleted.</small>
				</div>
				<button class="btn btn-info" [disabled]="!fileSelected || uploadingBackground">{{ uploadingBackground ? 'Uploading...' : 'Upload'}}</button>
			</form>
			<button class="btn btn-danger" (click)="deleteBackground()">Revert to Default Background</button>
		</div>
		<div class="url-settings settings-section half">
			<h3>URL Settings</h3>
			<form #portalForm="ngForm" class="portal-form" [class.has-success]="portalValid" [class.has-danger]="!portalValid" (ngSubmit)="changePortalURL()" novalidate>
				<label for="portal-url">Portal URL</label>
				<div class="url-row">
					<input id="portal-url" class="portal-url form-control form-control-success form-control-danger" [(ngModel)]="portalURL" name="portalURL" placeholder="Portal URL" autocomplete="off" required>
					<button class="btn btn-info" [disabled]="!portalForm.valid || !portalValid">Save</button>
				</div>
				<div *ngIf="portalURL?.length > 0" class="form-control-feedback">{{portalResponse}}</div>
				<p class="form-text text-muted">
					Submit your Portal URL to integrate your schedule into the site.
					<br>
					<a routerLink="/help">Find out how to get your Portal URL.</a>
				</p>
			</form>
			<form #canvasForm="ngForm" class="canvas-form" [class.has-success]="canvasValid" [class.has-danger]="!canvasValid" (ngSubmit)="changeCanvasURL()" novalidate>
				<label for="canvas-url">Canvas URL</label>
				<div class="url-row">
					<input id="canvas-url" class="canvas-url form-control form-control-success form-control-danger" [(ngModel)]="canvasURL" name="canvasURL" placeholder="Canvas URL" autocomplete="off" required>
					<button class="btn btn-info" [disabled]="!canvasForm.valid || !canvasValid">Save</button>
				</div>
				<div *ngIf="canvasURL?.length > 0" class="form-control-feedback">{{portalResponse}}</div>
				<p class="form-text text-muted">
					Submit your Canvas URL to integrate your homework assignments into our digital planner.
					<br>
					<a routerLink="/help">Find out how to get your Canvas URL.</a>
				</p>
			</form>
		</div>
		<div class="settings-section">
			<h3>Set Classes</h3>
		</div>
	</div>
</div>
