@import 'app/styles/settings';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.settings-header {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 6rem;
		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}

		h3 {
			margin-bottom: 1rem;
			font-weight: 300;
		}
	}

	.settings-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.settings-section {
			width: 100%;
			margin-bottom: $blur-margin;
			padding: 1rem;
			text-align: left;
			color: $sophisticated-white;

			&.half {
				width: calc(50% - #{$blur-margin / 2});
			}

			h3 {
				font-size: 2.5rem;
				font-weight: 300;
			}
		}

		.basic-info form {

			.full-name {
				display: flex;
				justify-content: space-between;

				input:first-child {
					width: 100%;
					margin-right: 0.5rem;
				}

				input:last-child {
					width: 100%;
					margin-left: 0.5rem;
				}
			}

			.grad-year {

				.grade-spacer {
					margin-bottom: 0.75rem;
					display: flex;
					justify-content: center;
					align-items: center;

					.line {
						height: 1px;
						width:100%;
						border-bottom: 1px solid $sophisticated-white;
					}

					.text {
						margin: 0 1rem;
					}
				}

				.student span {
					margin-right: 0.5rem;
				}
			}
		}

		.change-background {
			.upload-background-form {
				margin-bottom: 1rem;
			}
		}

		.classes-form {
			h3 {
				display: inline-block;
			}
			.classes-add-empty, .classes-save, .classes-restore{
				float: right;
				margin-top: 0.5em;
				margin-left: 0.5em;
			}
			.form-inline {
				display: flex;
			}
			.color-picker {
				width: 15%;
			}
			.classes-block {
				width: 10%;
			}
		}
	}
}
