@import '../../../../styles/settings';

/* --------------------------
  Main Styles
--------------------------- */

.weather {
	position: relative;
	height: 100%;

	.weather-header {
		margin-bottom: 1rem;
		font-weight: 300;
	}

	.temperature {
		display: inline-block;
		float: right;

		.temp-actual {
			cursor: pointer;
			.current-temp {
				display: flex;
				align-items: flex-start;
				line-height: 0.7;
				margin-bottom: 1rem;
				font-size: 6rem;

				.degrees {
					font-size: 3rem;
					font-weight: 300;
				}
			}

			.temp-range {
				display: flex;
				justify-content: center;
				margin-right: 2.8rem;

				.temp-high,
				.temp-low {
					letter-spacing: 0.03rem;
					font-weight: 700;

					.temp-range-label {
						font-weight: 300;
					}
				}

				.temp-spacer {
					width: 1px;
					margin: 0 1rem;
					background: rgba($sophisticated-white, 0.5);
				}
			}
		}
		
		.temp-feels-like {
			text-align: center;
			letter-spacing: 0.02rem;
			font-size: 1.5rem;
			font-weight: 700;

			.temp-feels-label {
				font-weight: 400;
			}
		}
	}

	.weather-misc {
		display: inline-block;
		margin-top: 1rem;

		.humidity,
		.precipitation {
			font-size: 1.2rem;
			font-weight: 600;

			.weather-label {
				font-weight: 300;
			}
		}
	}

	.wind {
		display: inline-flex;
		justify-content: center;
		width: 100%;

		.wi {
			font-size: 8rem;
		}

		.wind-vector {
			display: flex;
		    flex-direction: column;
			justify-content: center;
		    align-items: flex-start;
		    margin-left: 1rem;

			.wind-magnitude {
				font-size: 1.5rem;
				font-weight: 300;

				.wind-speed {
				    font-weight: 700;
				}
			}
		}
	}

	.forecast-io {
		display: block;
		float:right;
		a {
			color: darken($sophisticated-white, 10%);
			font-size: 1.5rem;
			font-weight: 500;
			text-decoration: none;

			transition-duration: 0.25s;

			&:hover {
				text-shadow:2px 2px 2px #333;
			}
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width:544px) {
	.weather {
		.temp-actual {
			transition: all 0.3s ease;
		}
		.temp-actual:hover {
			transform: scale(1.1);
			transition: all 0.3s ease;
		}
	}
}