<nav class="navbar navbar-full navbar-inverse bg-inverse navbar-toggleable-md">
	<a class="navbar-brand" [routerLink]="['/home']">
		<img src="/assets/logo/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		MyMICDS.net
	</a>
	<div class="navbar-nav mr-auto">
		<a [class.collapse]="isCollapsed && url !== 'home'" class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-home"></i> Home
			<i *ngIf="url === 'home'" class="fa fa-caret-down"></i>
		</a>
		<a [class.collapse]="isCollapsed && url !== 'lunch'" class="nav-item nav-link" [routerLink]="['/lunch']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-cutlery"></i> Lunch
			<i *ngIf="url === 'lunch'" class="fa fa-caret-down"></i>
		</a>
		<a [class.collapse]="isCollapsed && url !== 'planner'" class="nav-item nav-link" [routerLink]="['/planner']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-calendar"></i> Planner
			<i *ngIf="url === 'planner'" class="fa fa-caret-down"></i>
		</a>
		<a [class.collapse]="isCollapsed && url !== 'daily-bulletin'" class="nav-item nav-link" [routerLink]="['/daily-bulletin']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-bullhorn"></i> Bulletin
			<i *ngIf="url === 'daily-bulletin'" class="fa fa-caret-down"></i>
		</a>
		<a [class.collapse]="isCollapsed && url !== 'settings'" *ngIf="jwt" class="nav-item nav-link" [routerLink]="['/settings']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-gear"></i> Settings
			<i *ngIf="url === 'settings'" class="fa fa-caret-down"></i>
		</a>
		<a [class.collapse]="isCollapsed && url !== 'about'" class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']" (click)="isCollapsed = !isCollapsed">
			<i class="fa fa-info"></i> About
			<i *ngIf="url === 'about'" class="fa fa-caret-down"></i>
		</a>
	</div>
	<div *ngIf="!jwt" class="navbar-right">
		<button class="btn btn-success" [routerLink]="['/login']">Login</button>
		<button class="btn btn-primary" [routerLink]="['/register']">Register</button>
	</div>
	<div *ngIf="jwt" class="navbar-right">
		<p class="logged-in-user text-muted"><span class="hide">Logged in as </span>{{ jwt.user }}</p>
		<button class="btn btn-danger" [routerLink]="['/logout']">Logout</button>
	</div>
</nav>
