.navbar {
	z-index: 100;

	.navbar-nav .nav-link {
		margin-right: 0.5rem;
		overflow: hidden;
		text-align: center;
		border-bottom: 1px solid #292b2c;
		transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.6s;

		&:hover,
		&.active {
			border-bottom-color: #a61d35;
		}

		.collapse-dropdown-caret {
			display: none;
			transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
		}
	}
}

.logged-in,
.logged-out {
	display: flex;
	align-items: center;
	margin-left: auto;

	> *:not(:last-child) {
		margin-right: 0.5rem;
	}

	.logged-in-user {
		margin-right: 1rem;
		text-align: right;
	}
}

/**
 * For collapsed version of navbar
 */

@media screen and (max-width: 844px) {
	.navbar {
		justify-content: space-between;
		flex-wrap: wrap;

		.navbar-nav {
			width: 100%;
			flex-direction: column;
			order: 3;

			&.collapsed .nav-link {
				&:not(.active) {
					height: 0;
					padding-top: 0;
					padding-bottom: 0;
					border-bottom-color: rgba(0, 0, 0, 0);
					// Prevent clicking button if it's supposed to be collapsed
					pointer-events: none;
				}

				.collapse-dropdown-caret {
					transform: rotate(0deg);
				}
			}

			.nav-link {
				height: 2.5rem;

				.collapse-dropdown-caret {
					display: inline-block;
					transform: rotate(180deg);
				}
			}
		}
	}
}
