
/* --------------------------
  Main Styles
--------------------------- */

.navbar {
	display: flex;
	z-index: 100;
	flex-direction: column;
	align-items: center;

	.navbar-nav {
		display:flex;
		flex-direction: column;
		text-align: center;
		a {
			overflow: hidden;
			transition: all ease-out 0.5s;
			height: 2.5em;
		}
		.collapse {
			padding: 0px;
			height: 0px;
		}
	}

	.nav-link:hover {
		border-bottom: 1px solid #29ABE2;
		margin-bottom: -1px;
	}
	.mymicds-logo {
		text-align: center;
	}
	img.navbar-brand {
		width: 40px;
		vertical-align: top
	}
	.navbar-brand {
		float: initial;
		font-size: 2em;
	}

	.navbar-right {
		margin-left: auto;
		margin-top: 0.125em;
		display: flex;
		align-items: center;
		*:first-child {
			margin-right: 0.25rem;
		}

		.logged-in-user {
			margin: 0 1rem 0 0;
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 544px) {
	.navbar {
		flex-direction: row;

		.navbar-nav {
			flex-direction: row;
			text-align: initial;
			.collapse {
				padding-top: .425rem;
    			padding-bottom: .425rem;
				height: 2.5em;
			}
			.fa-caret-down {
				display: none;
			}
			a {
				overflow: initial;
			}
		}
		.navbar-brand {
			font-size: 1.25em;
		}
		img.navbar-brand {
			height: 2rem;
			width: 2rem;
		}

		.navbar-right {
			.logged-in-user {
				display: inline;
				margin: 0 1rem 0 1rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.logged-in-user {
		margin: 0 1rem 0 0;
	}

	
}