<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse mr-auto mt-2 mt-md-0">
	
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mymicds-navbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" [routerLink]="['/home']">
		<img class="mymicds-logo" src="/assets/logo/logo.svg">
		MyMICDS.net
	</a>

	<div class="collapse navbar-collapse" id="mymicds-navbar">
	
		<div class="navbar-nav mr-auto my-2 my-lg-0">
			<a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
				<i class="fa fa-home"></i> Home
			</a>
			<a class="nav-item nav-link" [routerLink]="['/lunch']" [routerLinkActive]="['active']">
				<i class="fa fa-cutlery"></i> Lunch
			</a>
			<a class="nav-item nav-link" [routerLink]="['/planner']" [routerLinkActive]="['active']">
				<i class="fa fa-calendar"></i> Planner
			</a>
			<a class="nav-item nav-link" [routerLink]="['/daily-bulletin']" [routerLinkActive]="['active']">
				<i class="fa fa-bullhorn"></i> Bulletin
			</a>
			<a *ngIf="userService.getUsername()" class="nav-item nav-link" [routerLink]="['/settings']" [routerLinkActive]="['active']">
				<i class="fa fa-gear"></i> Settings
			</a>
			<a class="nav-item nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">
				<i class="fa fa-info"></i> About
			</a>
		</div>

		<div *ngIf="!userService.getUsername()" class="my-2 my-lg-0">
			<button class="btn btn-success d-inline mr-3" [routerLink]="['/login']">Login</button>
			<button class="btn btn-primary d-inline" [routerLink]="['/register']">Register</button>
		</div>
		<div *ngIf="userService.getUsername()" class="my-2 my-lg-0">
			<p class="logged-in-user text-muted d-inline mr-3"><span class="hide">Logged in as </span>{{userService.getUsername()}}</p>
			<button class="btn btn-danger d-inline" [routerLink]="['/logout']">Logout</button>
		</div>

	</div>
</nav>
