
/* --------------------------
  Main Styles
--------------------------- */

.navbar {
// 	display: flex;
	z-index: 100;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	align-items: center;

// 	.navbar-nav {
// 		order: 3;
// 		width: 100%;
// 		display: flex;
// 		flex-direction: column;
// 		text-align: center;
// 		padding: 0 3em;
// 		//padding-bottom: 1px;
// 		a {
// 			overflow: hidden;
// 			transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.6s;
// 			height: 2.5em;
// 			margin-right: 0.5em;
// 		}
// 		.collapse {
// 			padding: 0px;
// 			height: 0px;
// 		}
// 	}

	.nav-link {
		border-bottom: 1px solid #292b2c;
	}

	.nav-link:hover {
		border-bottom: 1px solid #29ABE2;
	}

	img.mymicds-logo {
		width: 30px;
		vertical-align: top
	}
// 	.navbar-brand {
// 		float: initial;
// 		font-size: 1.5em;
// 	}

// 	.navbar-right {
// 		//width: calc(50% - 0.5em);
// 		margin-left: auto;
// 		order: 2;
// 		margin-top: 0.125em;
// 		display: flex;
// 		align-items: center;
// 		justify-content: flex-end;
// 		*:first-child {
// 			margin-right: 0.25rem;
// 		}

// 		.logged-in-user {
// 			margin: 0 1rem 0 0;
// 			.hide {
// 				display: none
// 			}
// 		}

// 		button {
// 			font-size: small;
// 		}
// 	}
}

// /* --------------------------
//   Media Queries
// --------------------------- */
// @media screen and (min-width: 544px) {
// 	.navbar {
// 		flex-direction: row;
// 		flex-wrap: nowrap;
// 		.navbar-nav {
// 			order: 2;
// 			flex-direction: row;
// 			width: inherit;
// 			height: 100%;
// 			padding: 0 0;
// 			.collapse {
// 				padding-top: .425rem;
//     			padding-bottom: .425rem;
// 				height: 2.5em;
// 			}
// 			.fa-caret-down {
// 				display: none;
// 			}
// 			a {
// 				overflow: visible;
// 				height: 100%;
// 			}
// 		}
// 		.navbar-brand {
// 			font-size: 1.25em;
// 		}
// 		img.navbar-brand {
// 			height: 2rem;
// 			width: 2rem;
// 		}

// 		.navbar-right {
// 			margin-left: auto;
// 			flex-direction: column;
// 			order: 3;
// 			width: inherit;
// 			.logged-in-user {
// 				display: inline;
// 				margin: 0 1rem 0 1rem;
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: 992px) {
// 	.navbar {
// 		.logged-in-user {
// 			margin: 0 1rem 0 0;
// 		}
// 		.navbar-nav {
// 			padding-bottom: 0px;
// 		}
// 		.navbar-right {
// 			margin-left: auto;
// 			flex-direction: row;
// 			button {
// 				font-size: normal;
// 			}
// 			.logged-in-user {
// 				.hide {
// 					display: inline-block;
// 				}
// 			}
// 		}
// 	}
// }
