<div class="scores-display container">
	<div *ngIf="loadingScores" mymicds-blur><h2>Loading Scores</h2></div>
	<div class="score" *ngFor="let score of sportsScores" mymicds-blur>
		<h2 class="score-name">{{ score.name }}</h2>
		<div class="score-date text-muted">{{ score.update_date | date:yMMMd }}</div>
		<div class="score-detail">
			<div class="us-score"><img class="score-image" [src]="score.us_img"/>{{ score.us_score }}</div>
			<div class="opp_score">{{ score.opp_score }}<img class="score-image" [src]="score.opp_img"/></div>
		</div>
		<div class="separator"></div>
	</div>
</div>