<h3 class="title">
	URL Settings
	<a
		*ngIf="userInfo?.migrateToVeracross"
		class="veracross-update badge badge-danger"
		routerLink="/help"
		>Update to Veracross!</a
	>
</h3>
<form
	class="form-portal"
	#portalCalendarForm="ngForm"
	(ngSubmit)="changePortalCalendarURL()"
	novalidate
>
	<label for="portal-calendar-url">Portal 'My Calendar' URL</label>
	<div class="input-group">
		<input
			#portalCalendarUrl
			id="portal-calendar-url"
			class="form-control"
			[class.is-valid]="portalCalendarValid"
			[class.is-invalid]="portalCalendarValid === false"
			[(ngModel)]="portalCalendarURL"
			name="portalCalendarURL"
			placeholder="Portal Calendar URL"
			autocomplete="off"
			required
		/>
		<span class="input-group-append">
			<button
				class="btn btn-info"
				[disabled]="!portalCalendarForm.valid || portalCalendarSaving"
			>
				{{ portalCalendarSaving ? 'Saving...' : 'Save' }}
			</button>
		</span>
	</div>
	<div
		*ngIf="portalCalendarResponse?.length > 0"
		class="form-text"
		[class.text-success]="portalCalendarValid"
		[class.text-danger]="portalCalendarValid === false"
	>
		{{ portalCalendarResponse }}
	</div>
</form>
<form
	class="form-portal"
	#portalClassesForm="ngForm"
	(ngSubmit)="changePortalClassesURL()"
	novalidate
>
	<label for="portal-classes-url">Portal 'All Classes' URL</label>
	<div class="input-group">
		<input
			#portalClassesUrl
			id="portal-classes-url"
			class="form-control"
			[class.is-valid]="portalClassesValid"
			[class.is-invalid]="portalClassesValid === false"
			[(ngModel)]="portalClassesURL"
			name="portalClassesURL"
			placeholder="Portal Classes URL"
			autocomplete="off"
			required
		/>
		<span class="input-group-append">
			<button
				class="btn btn-info"
				[disabled]="!portalClassesForm.valid || portalClassesSaving"
			>
				{{ portalClassesSaving ? 'Saving...' : 'Save' }}
			</button>
		</span>
	</div>
	<div
		*ngIf="portalClassesURL?.length > 0"
		class="form-text"
		[class.text-success]="portalClassesValid"
		[class.text-danger]="portalClassesValid === false"
	>
		{{ portalClassesResponse }}
	</div>
</form>
<p class="form-text text-muted">
	Submit your Portal URLs to integrate your schedule into the site.
	<br />
	<a routerLink="/settings/help">Find out how to get your Portal URL.</a>
</p>
<ng-container *ngIf="userInfo?.portalURLClasses || userInfo?.portalURLCalendar">
	<button
		class="btn btn-danger"
		(click)="updatePortalFeed()"
		[disabled]="portalFeedUpdateLoading"
	>
		{{ portalFeedUpdateLoading ? 'Updating...' : 'Update Portal Feed' }}
	</button>
	<p class="form-text text-muted">Automatically updates every 24 hours</p>
</ng-container>

<div class="spacer">
	<div class="line"></div>
</div>

<form #canvasForm="ngForm" (ngSubmit)="changeCanvasURL()" novalidate>
	<label for="canvas-url">Canvas URL</label>
	<div class="input-group">
		<input
			#canvasUrl
			id="canvas-url"
			class="form-control"
			[class.is-valid]="canvasValid"
			[class.is-invalid]="canvasValid === false"
			[(ngModel)]="canvasURL"
			name="canvasURL"
			placeholder="Canvas URL"
			autocomplete="off"
			required
		/>
		<span class="input-group-append">
			<button class="btn btn-info" [disabled]="!canvasForm.valid || canvasSaving">
				{{ canvasSaving ? 'Saving...' : 'Save' }}
			</button>
		</span>
	</div>
	<div
		*ngIf="canvasURL?.length > 0"
		class="form-text"
		[class.text-success]="canvasValid"
		[class.text-danger]="canvasValid === false"
	>
		{{ canvasResponse }}
	</div>
</form>
<p class="form-text text-muted">
	Submit your Canvas URL to integrate your homework assignments into our digital planner.
	<br />
	<a routerLink="/settings/help">Find out how to get your Canvas URL.</a>
</p>
<ng-container *ngIf="userInfo?.canvasURL">
	<button
		class="btn btn-danger"
		(click)="updateCanvasFeed()"
		[disabled]="canvasFeedUpdateLoading"
	>
		{{ canvasFeedUpdateLoading ? 'Updating...' : 'Update Canvas Feed' }}
	</button>
	<p class="form-text text-muted">Automatically updates every 6 hours</p>
</ng-container>
