<div class="module-container">
	<div mymicds-blur class="stuff">
		<h1>
			What are you doing here?
			<br>
			Make the most of summer.
		</h1>
		<p>Have any features you want to see next year? <strong>Hit us up at <a href="mailto:support@mymicds.net">support@mymicds.net</a></strong></p>
		<p><strong>Also <a href="https://twitter.com/MyMICDS" target="_blank">follow us on Twitter!</a></strong></p>
		<button class="btn btn-lg btn-danger" (click)="continue()">Continue to site</button>
	</div>
	<!-- <mymicds-module-container [type]="'countdown'" [inputs]="{ mode: 'START', shake: false, schoolDays: false }" [fixedHeight]="true"></mymicds-module-container> -->
	<mymicds-module-container class="twitter" [type]="'twitter'" [fixedHeight]="true"></mymicds-module-container>
</div>
