@import '../../../../styles/settings';

/* --------------------------
  Main Styles
--------------------------- */

.module-container {
	width: 100;
	height: 100%;
	.weather {
		position: relative;
		height: 100%;

		.weather-header {
			margin-bottom: 1rem;
			font-weight: 300;
		}

		.temperature {
			display: inline-block;
			float: right;

			.temp-actual {
				.current-temp {
					display: flex;
					align-items: flex-start;
					line-height: 0.7;
					margin-bottom: 1rem;
					font-size: 6rem;

					.degrees {
						font-size: 3rem;
						font-weight: 300;
					}
				}

				.temp-range {
					display: flex;
					justify-content: center;
					margin-right: 2.8rem;

					.temp-high,
					.temp-low {
						letter-spacing: 0.03rem;
						font-weight: 700;

						.temp-range-label {
							font-weight: 300;
						}
					}

					.temp-spacer {
						width: 1px;
						margin: 0 1rem;
						background: rgba($sophisticated-white, 0.5);
					}
				}
			}
			
			.temp-feels-like {
				text-align: center;
				letter-spacing: 0.02rem;
				font-size: 1.5rem;
				font-weight: 700;

				.temp-feels-label {
					font-weight: 400;
				}
			}
		}

		.weather-misc {
			display: inline-block;
			margin-top: 1rem;

			.humidity,
			.precipitation {
				font-size: 1.2rem;
				font-weight: 600;

				.weather-label {
					font-weight: 300;
				}
			}
		}

		.wind {
			display: inline-flex;
			justify-content: center;
			width: 100%;

			.wi {
				font-size: 5rem;
			}

			.wind-vector {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin-left: 1rem;

				.wind-magnitude {
					font-size: 1.5rem;
					font-weight: 300;

					.wind-speed {
						font-weight: 700;
					}
				}
			}
		}

		.forecast-io {
			display: block;
			float:right;
			a {
				color: darken($sophisticated-white, 10%);
				font-size: 1.5rem;
				font-weight: 500;
				text-decoration: none;

				transition-duration: 0.25s;

				&:hover {
					text-shadow:2px 2px 2px #333;
				}
			}
		}
	}
}

.module-container[max-width~='450px'] {
	.weather {
		display: flex;
		flex-direction: column;
		justify-content: space-around;		
		.weather-header {
			font-size: 0;
			text-align: center;
			i {
				font-size: 2.5rem;
			}
		}
		.temperature {
			width: 100%;
			.temp-actual {
				.current-temp {
					justify-content: center;
					font-size: 4.5rem;
				}
				.temp-range {
					margin: 0;
					font-size: 1.5rem;
					text-align: center;
					.temp-spacer {
						margin: 0 0.6rem;
					}
				}
			}
		}

		.wind {
			i {
				font-size: 5rem;
			}
		}

		.forecast-io {
			align-self: flex-end;
			margin-bottom: 0;
			font-size: 0;
			a {
				font-size: 1rem;
			}
		}
	}
}

.module-container[max-height~='300px'] {
	.weather {
		.temperature {
			.temp-actual {
				.current-temp {
					font-size: 4.5rem;
				}
			}
		}
		.wind {
			i {
				font-size: 5rem;
			}
		}
	}
}

.module-container[max-height~='450px'][max-width~='450px'] {
	.weather {
		.weather-misc {
			display: none;
		}
		.wind {
			display: none;
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (max-width:544px) {
	.weather {
		.temp-actual {
			.current-temp {
				font-size: 4rem;
			}
		}
	}
}