@import 'app/styles/settings';
@import 'app/styles/mixins';

.sidebar {
	width: 18rem;
	height: 100%;
    position: fixed;
    top: 0;
    left: -18rem;

    color: #eceeef;
    z-index: 1001;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;

	@include blur(rgba(0, 0, 0, 0.8));

	&.open {
		left: 0;
		box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.75);
	}
}

.sidebar-toggle {
	cursor: pointer;
	padding: 0.5rem 1rem;
    position: fixed;
    top: 40%;
    z-index: 1000;
    background-color: #373a3c;
    color: #eceeef;
    font-size: 1.5rem;
}
