<!-- Loading -->
<div *ngIf="!stats" class="loading-container">
	<div mymicds-blur class="loading">
		<h1>Collecting Statistics...</h1>
	</div>
</div>
<!-- Stats -->
<div class="container">
	<div mymicds-blur class="stat-title">
		<h1>Statistics</h1>
	</div>
	<div class="modules">
		<div mymicds-blur class="module half" [@moduleReady]="registeredData ? 'ready' : 'unready'">
			<h2 class="register-total"><span class="data-big">{{registeredData?.registered.total}}</span><br> have signed up</h2>
		</div>
		<div class="switch-button" [@moduleReady]="registeredData ? 'ready' : 'unready'" (click)="viewingVisits = !viewingVisits"><img src="../../../assets/logo/logo.svg"></div>
		<div mymicds-blur class="module half" [@moduleReady]="registeredData ? 'ready' : 'unready'">
			<h2 class="register-today"><span class="data-big">{{registeredData?.registered.today}}</span><br> signed up today</h2>
		</div>
		<div mymicds-blur class="module graphs">
			<div class="chart" [@switchViews]="viewingVisits ? 'visits' : 'register'">
				<canvas id="registerCountChart"></canvas>
			</div>
			<div class="visits-chart">
				<canvas id="visitedTodayChart"></canvas>
			</div>
		</div>
	</div>
</div>
