<h3>Set Classes</h3>
<button class="add-class btn btn-success" (click)="addClass()" [disabled]="savingClasses">Add Class</button>
<table>
	<thead>
		<tr>
			<th>Class Name</th>
			<th>Color</th>
			<th>Block</th>
			<th>Type</th>
			<th>Teacher</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let class of classesList; let i = index">
			<td class="class-name">
				<input class="form-control" placeholder="Class Name" name="name" [value]="class.name" [(ngModel)]="class.name">
			</td>
			<td class="class-color">
				<input class="form-control" [(colorPicker)]="class.color" [style.background]="class.color" name="color" [value]="class.color | uppercase" [(ngModel)]="class.color">
			</td>
			<td>
				<select class="form-control" name="block" [value]="class.block" [(ngModel)]="class.block">
					<option *ngFor="let block of classBlocks" [value]="block">{{ capitalize(block) }}</option>
				</select>
			</td>
			<td>
				<select class="form-control" name="type" [value]="class.type" [(ngModel)]="class.type">
					<option *ngFor="let type of classTypes" [value]="type">{{ capitalize(type) }}</option>
				</select>
			</td>
			<td class="class-teacher form-inline">
				<select class="form-control" [value]="class.teacherPrefix" [(ngModel)]="class.teacher.prefix">
					<option *ngFor="let prefix of teacherPrefixes" name="teacherPrefix" [value]="prefix">{{ prefix }}</option>
				</select>
				<input class="form-control" placeholder="First Name" name="teacherFirstName" [value]="class.teacher.firstName" [(ngModel)]="class.teacher.firstName">
				<input class="form-control" placeholder="Last Name" name="teacherLastName" [value]="class.teacher.lastName" [(ngModel)]="class.teacher.lastName">
			</td>
			<td class="class-manage">
				<button class="btn btn-info selected" [class.active]="class._id === aliasClass?._id" (click)="manageAliases(class._id)" [disabled]="savingClasses || !class._id">
					<i class="fa fa-link"></i>
					Link
				</button>
				<button class="btn btn-warning" (click)="restoreClass(class._id)" [disabled]="savingClasses || !classChanged(class._id) || !class._id">
					<i class="fa fa-undo"></i>
					Restore
				</button>
				<button class="btn btn-danger" (click)="deleteClass(i)" [disabled]="savingClasses">
					<i class="fa fa-times"></i>
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>
<div *ngIf="aliasClass" class="aliases card">
	<h3>Link Classes for <strong>{{ aliasClass.name }}</strong></h3>
	<button class="aliases-dismiss btn btn-danger" (click)="dismissAliases()">
		<i class="fa fa-times"></i>
	</button>
	<div class="aliases-list">
		<div class="aliases-portal">
			<h4>Portal Classes</h4>
			<div *ngFor="let class of portalClasses" class="checkbox">
				<label>
					<input type="checkbox" (change)="aliasChange($event, 'portal', class, aliasClass._id)" [checked]="aliasChecked('portal', class, aliasClass._id)" [disabled]="aliasDisabled('portal', class, aliasClass._id)">
					{{ class }}
				</label>
			</div>
		</div>
		<div class="aliases-canvas">
			<h4>Canvas Classes</h4>
			<div *ngFor="let class of canvasClasses" class="checkbox">
				<label>
					<input type="checkbox" (change)="aliasChange($event, 'canvas', class, aliasClass._id)" [checked]="aliasChecked('canvas', class, aliasClass._id)" [disabled]="aliasDisabled('canvas', class, aliasClass._id)">
					{{ class }}
				</label>
			</div>
		</div>
	</div>
</div>
<button class="save-classes btn btn-info" (click)="saveClasses()" [disabled]="savingClasses || (!anyClassChanged() && !anyClassAdded() && !anyClassDeleted())">
	{{ savingClasses ? 'Saving Classes...' : 'Save Changes' }}
</button>
