<div *ngIf="!editMode" class="manage-menu-container">
	<div class="manage-menu">
		<div class="manage-buttons">
			<a mymicds-blur class="edit" routerLink="/home/edit">
				<i class="fa fa-pencil-square-o"></i>
				Edit
			</a>
		</div>
	</div>
</div>

<div *ngIf="editMode" class="manage-menu">
	<div class="manage-buttons">
		<button class="btn btn-success edit-button" (click)="exitEditMode()">Done</button>
		<button class="btn btn-info save-button" (click)="saveModules()" [disabled]="!mymicds.auth.isLoggedIn || !detectChanges() || savingModuleLayout">
			{{ savingModuleLayout ? 'Saving...' : 'Save Changes' }}
		</button>
		<button class="btn btn-danger" (click)="saveModules([])" [disabled]="!mymicds.auth.isLoggedIn">Reset Layout</button>
	</div>
	<p mymicds-blur--dark class="manage-help">
		<i class="fa fa-info-circle"></i>
		Drag, drop, and resize modules on the grid to your liking!
	</p>
</div>

<div #moduleContainer class="container">
	<div *ngIf="!editMode && announcement.length > 0 && showAnnouncement" class="announcement alert alert-info" [class.dismissed]="dismissAnnouncement" role="alert">
		<button type="button" class="close" (click)="dismissAlert()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Announcement: </strong>
		<span [innerHTML]="announcement"></span>
	</div>

	<!-- If in edit mode and user isn't logged in -->
	<div mymicds-blur *ngIf="editMode && !mymicds.auth.isLoggedIn" class="account-required">
		<p>Editing the homepage layout requires a MyMICDS Account!</p>
		<a class="btn btn-primary btn-lg" routerLink="/register">Register Now</a>
	</div>

	<!-- Regular module grid -->
	<div *ngIf="(editMode && mymicds.auth.isLoggedIn) || (!editMode && moduleWidth >= gridsterOptions.responsiveOptions[1].minWidth)" class="grid-container">
		<ngx-gridster #gridster [options]="gridsterOptions">
			<ngx-gridster-item #gridItem *ngFor="let module of moduleLayout; let i = index"
				[options]="gridsterItemOptions"
				[(x)]="module.column"
				[(y)]="module.row"
				[(w)]="module.width"
				[(h)]="module.height"
				[dragAndDrop]="editMode"
				[resizable]="editMode"
				(change)="updateModulePositions()">

				<mymicds-module-container [type]="module.type" [inputs]="module.options" [moduleId]="module._id" [fixedHeight]="true"></mymicds-module-container>

				<div *ngIf="editMode" mymicds-blur--dark class="edit-module-menu" [class.popover-open]="modulePopoverBtn?.isOpen">
					<button class="edit-module-delete" (click)="deleteModule(i)">&times;</button>
					<button [hidden]="moduleOptionsIsEmpty(module.options)"
						class="edit-module-config"
						[popover]="configModuleTemplate"
						#modulePopoverBtn="bs-popover"
						popoverTitle="Configure Module"
						container="body"
						placement="bottom">

						<i class="fa fa-cog"></i>
						Configure
					</button>
					<div class="edit-module-resize">
						<!-- Resize Me! -->
						<i class="fa fa-expand fa-flip-horizontal"></i>
					</div>
					<div class="edit-module-drag">
						<i class="fa fa-arrows"></i>
						Drag Me!
					</div>
				</div>

				<ng-template #configModuleTemplate>
					<mymicds-module-options [type]="module.type" [options]="module.options" (optionsChange)="module.options = $event"></mymicds-module-options>
				</ng-template>

			</ngx-gridster-item>
		</ngx-gridster>
	</div>
	<!-- Collapsed module grid -->
	<div *ngIf="!editMode && moduleWidth < gridsterOptions.responsiveOptions[1].minWidth" class="collapsed-grid">
		<mymicds-module-container *ngFor="let module of moduleLayout"
			[type]="module.type"
			[inputs]="module.options"
			[moduleId]="module._id"
			[fixedHeight]="false"></mymicds-module-container>
	</div>
</div>
<div *ngIf="editMode && mymicds.auth.isLoggedIn" class="modules-menu" mymicds-blur--dark>
	<p>Drag a module onto the grid to add</p>
	<div ngxGridsterItemPrototype
		*ngFor="let name of moduleNames"
		class="drag-module"
		[config]="{ helper: true }"
		[w]="modules[name].defaultWidth"
		[h]="modules[name].defaultHeight"
		(drop)="addModule($event, name)"
		(enter)="onDragOver($event)">

		<div class="module-label">
			<i class="fa" [ngClass]="modules[name].icon"></i>
			{{ modules[name].displayName }}
		</div>

		<div class="gridster-item-inner" style="width: 0; height: 0;">
			<div mymicds-blur class="module-preview">
				<i class="fa" [ngClass]="modules[name].icon"></i>
				{{ modules[name].displayName }}
			</div>
		</div>
	</div>
</div>
