<button class="btn btn-info edit-button" [routerLink]="editMode ? '/home' : '/home/edit'">{{ editMode ? 'Done' : 'Edit' }}</button>

<div class="container">
	<div *ngIf="announcement.length > 0 && showAnnouncement" class="announcement alert alert-info" [class.dismissed]="dismissAnnouncement" role="alert">
		<button type="button" class="close" (click)="dismissAlert()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Announcement</strong>
		<span [innerHTML]="announcement"></span>
	</div>
	<div #gridContainer class="grid-container">
		<gridster [options]="gridsterOptions">
			<gridster-item #gridItem *ngFor="let module of moduleLayout"
				[(x)]="module.column"
				[(y)]="module.row"
				[(w)]="module.width"
				[(h)]="module.height"
				(yChange)="calculateGridHeight()"
				(hChange)="calculateGridHeight()">
				<mymicds-module-container [moduleData]="{ type: module.type, inputs: {} }"></mymicds-module-container>
			</gridster-item>
		</gridster>
	</div>
</div>
