@import '../../../styles/settings';

:host {
	width: 100%;
	position: relative;
	display: inline-block;
}

.manage-menu {
	position: sticky;
	top: 0.5rem;

	display: inline-flex;
	flex-direction: column;
	// align-items: center;

	margin-top: 0.5rem;
	padding-top: 1rem;
	padding-left: 1rem;

	z-index: 500;

	pointer-events: none;

	button {
		pointer-events: all;
	}

	.manage-buttons {
		.edit {
			color: $sophisticated-white;
			text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}

		.debug {
			margin-left: -1rem;
			color: $sophisticated-white;
			text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	}

	.manage-help {
		margin-bottom: 0;
		color: $sophisticated-white;
		text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
}

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;

	.announcement.dismissed {
		animation: deleteAlert 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}

	.grid-container {
		margin: -($blur-margin / 2);
	}
}

.modules-menu {
	position: fixed;
	bottom: 0;
	z-index: 100;

	display: flex;
	align-items: center;

	padding: 0.5rem;

	color: $sophisticated-white;

	> * {
		padding: 1rem;
	}

	p {
		margin: 0;
	}

	.drag-module {
		cursor: move;
		border-left: 1px solid rgba($sophisticated-white, 0.5);
	}
}

@keyframes deleteAlert {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
