@import 'app/styles/settings';
@import 'app/styles/mixins';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.bulletin-header {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 6rem;

		color: $sophisticated-white;
		@include blur();

		h1 {
			font-weight: 600;
		}

		h3 {
			margin-bottom: 1rem;
			font-weight: 300;
		}
	}

	.bulletin-iframe {
		width: 100%;
		height: 1800px;
		border: none;
	}
}
