/* Settings */
@import 'config';

// Colors
$sophisticated-white: #eee; // "Because pure white doesn't occur in the natural world."

// Margin between Modules in Home and Settings
$blur-margin: 5px;

// Default background shown during loading screen
$background-url: $backend-url + '/user-backgrounds/default/normal.jpg';
$background-url--blur: $backend-url +  '/user-backgrounds/default/blur.jpg';
