/* Settings */
@import 'config';

// Colors
$sophisticated-white: #eee; // "Because pure white doesn't occur in the natural world."

// Margin between Modules in Home and Settings
$blur-margin: 5px;

// Default background shown during loading screen
$background-url: $backend-url + '/user-backgrounds/default/normal.jpg';
$background-url--blur: $backend-url + '/user-backgrounds/default/blur.jpg';

// How big the height/width should be for the Gridster resize handlers
$gridster-resize-margin: 20px;

$sidebar-red: #ffc09f;
$sidebar-yellow: #ffee93;
$sidebar-purple: #cac7fc;
$sidebar-blue: #a0ced9;
$sidebar-green: #adfcb6;

$micds-red: #c10538;
$micds-green: #197c5d;
$micds-yellow: #feb729;
$micds-white: #f9ddd6;
$micds-grey: #c1ccd2;
