/* You can add global styles to this file, and also import other style files */

// This is a bunch of BS
@import '../../node_modules/bootstrap/scss/bootstrap-flex';

// Planner Styles
@import '../app/components/planner/event-selection';

@import 'settings';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

body {
    background-image: url($background-url);
    background-attachment: fixed;
    background-size: cover;
}

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}