/* You can add global styles to this file, and also import other style files */

// Planner Styles
@import '../app/components/planner/event-selection';

// Settings
@import 'settings';

* {
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
}

body {
	background-image: url($background-url);
	background-attachment: fixed;
	background-size: cover;
}

button {
	cursor: pointer;
}

[mymicds-blur] {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}

[mymicds-blur--dark] {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}

[mymicds-blur--white] {
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url($background-url--blur);
	background-size: cover;
	background-attachment: fixed;
}

// Fix for Bootstrap modals
.modal-backdrop.in {
	opacity: 0.5 !important;
}

.modal-open .modal {
	&.in {
		opacity: 1;
	}

	.modal-dialog {
		transform: none !important;

		.modal-content .modal-header .close {
			align-self: flex-start;
		}
	}
}

// Fix for Gridster (homepage modules)
gridster-item .gridster-item-inner {
	position: absolute;
	top: $blur-margin / 2;
	right: $blur-margin / 2;
	bottom: $blur-margin / 2;
	left: $blur-margin / 2;
	overflow: hidden;
}

.position-highlight .inner {
	position: absolute;
	top: $blur-margin / 2;
	bottom: $blur-margin / 2;
	left: $blur-margin / 2;
	right: $blur-margin / 2;

	background-color: rgba($sophisticated-white, 0.5);
	border: 1px solid rgba($sophisticated-white, 0.75);
	border-radius: 0.5rem;

	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
}

.drag-module {
	z-index: 100;
}
