@import 'app/styles/settings';

.login-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.login-form {
		width: 23rem;
		padding: 1rem;
		color: $sophisticated-white;

		.login-header {
			margin-bottom: 1rem;
			text-align: center;

			h1 {
				margin-bottom: 1.5rem;
				font-size: 3rem;
				font-weight: 300;
			}

			img {
				width: 5rem;
				border-radius: 5rem;
			}
		}

		form {
			.forgot-password {
				float: right;
				margin-bottom: 1rem;
			}
		}
	}
}
