<div class="confirm-container">
	<div *ngIf="!confirmResponse" class="confirm-response blur">
		<h1>Confirming Account...</h1>
	</div>
	<div *ngIf="confirmResponse === true" class="confirm-response blur">
		<h1>Account Confirmed!</h1>
		<fa name="check" size="5"></fa>
		<p class="confirm-success">You may now <a routerLink="/login">log in.</a></p>
	</div>
	<div *ngIf="confirmResponse && typeOf(confirmResponse) === 'string'" class="confirm-response blur">
		<h1>{{confirmResponse}}</h1>
		<fa name="times" size="5"></fa>
		<p>Make sure you use the most recent email. If this continues, try registering again. Contact support if this keeps happening.</p>
	</div>
</div>
