@import 'app/styles/mixins';
@import 'app/styles/settings';

.register-form {
	width: 30%;
	margin: 2.5rem auto 6rem;
	padding: 1rem 2.5rem;
	color: $sophisticated-white;
	@include blur();

	.register-header {
		margin-bottom: 1rem;
		text-align: center;

		h1 {
			margin-bottom: 1.5rem;
			font-size: 3rem;
			font-weight: 300;
		}

		img {
			width: 5rem;
			border-radius: 5rem;
		}
	}

	form {
		.grad-year {
			span {
				margin-right: 0.5rem;
			}
		}

		.full-name {
			display: flex;
			justify-content: space-between;

			input:first-child {
				width: 100%;
				margin-right: 0.5rem;
			}

			input:last-child {
				width: 100%;
				margin-left: 0.5rem;
			}
		}

		fieldset:last-of-type {
			margin-bottom: 2rem;
		}
	}
}
