@import 'app/styles/settings';
@import 'app/styles/mixins';

.register-form {
	width: 30%;
	margin: 2.5rem auto 6rem;
	padding: 1rem 2.5rem;
	color: $sophisticated-white;
	@include blur();

	.register-header {
		margin-bottom: 1rem;
		text-align: center;

		h1 {
			margin-bottom: 1.5rem;
			font-size: 3rem;
			font-weight: 300;
		}

		img {
			width: 5rem;
			border-radius: 5rem;
		}
	}

	form {

		fieldset legend {
			font-size: 2.5rem;
			font-weight: 300;
		}

		.full-name {
			display: flex;
			justify-content: space-between;

			input:first-child {
				width: 100%;
				margin-right: 0.5rem;
			}

			input:last-child {
				width: 100%;
				margin-left: 0.5rem;
			}
		}

		.grad-year {

			.grade-spacer {
				margin-bottom: 0.75rem;
				display: flex;
				justify-content: center;
				align-items: center;

				.line {
					height: 1px;
					width:100%;
					border-bottom: 1px solid $sophisticated-white;
				}

				.text {
					margin: 0 1rem;
				}
			}

			.student span {
				margin-right: 0.5rem;
			}
		}

		fieldset:last-of-type {
			margin-bottom: 2rem;
		}
	}
}
