<div class="register-form">
	<div class="register-header">
		<h1>Register</h1>
		<img src="dist/app/resources/logo/logo.svg">
	</div>
	<form #registerForm="ngForm" (ngSubmit)="register()" novalidate>
		<fieldset>
			<legend>Username</legend>
			<div class="input-group">
				<input class="form-control" [(ngModel)]="registerModel.user" name="username" placeholder="Username" required>
				<div class="input-group-addon">@micds.org</div>
			</div>
			<p class="form-text text-muted">Your username is the prefix of your MICDS email. This usually <strong>does not</strong> contain numbers.</p>
		</fieldset>
		<fieldset>
			<legend>Password</legend>
			<input type="password" class="form-control" [(ngModel)]="registerModel.password" name="password" placeholder="Password" required>
			<input type="password" class="form-control" [(ngModel)]="registerModel.password" name="confirm-password" placeholder="Confirm Password" required>
			<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
		</fieldset>
		<fieldset>
			<legend>Name</legend>
			<input class="form-control" [(ngModel)]="registerModel.firstName" name="first-name" placeholder="First Name" required>
			<input class="form-control" [(ngModel)]="registerModel.lastName" name="last-name" placeholder="Last Name" required>
		</fieldset>
		<fieldset>
			<legend>Graduation Year</legend>
			<div class="checkbox">
				<label>
					<input type="checkbox" class="form-check-input" [(ngModel)]="registerModel.teacher" name="remember">
					I am a Teacher
				</label>
			</div>
			<div *ngIf="!registerModel.teacher" class="grad-year">
				<span>I am in the class of</span>
				<select class="c-select" [(ngModel)]="registerModel.gradYear" name="grad-year" required>
					<option *ngFor="let year of gradeRange" [value]="year">{{year}}</option>
				</select>
			</div>
		</fieldset>
		<button class="btn btn-primary btn-lg btn-block" [disabled]="!registerForm.form.valid">Register</button>
	</form>
</div>
