<div class="register-form">
	<div class="register-header">
		<h1>Register</h1>
		<img src="dist/app/resources/logo/logo.svg">
	</div>
	<form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
		<fieldset class="form-group" [class.has-warning]="registerForm.controls.user.dirty && !isAlphabetic(registerForm.controls.user.value)">
			<legend>Username</legend>
			<div class="input-group">
				<input class="form-control" [class.form-control-warning]="registerForm.controls.user.dirty && !isAlphabetic(registerForm.controls.user.value)" formControlName="user" placeholder="Username" required>
				<div class="input-group-addon">@micds.org</div>
			</div>
			<p class="form-text form-control-feedback text-muted">Your username is the prefix of your MICDS email. This typically <strong>does not</strong> contain numbers or weird symbols.</p>
		</fieldset>
		<fieldset class="form-group">
			<legend>Password</legend>
			<input type="password" class="form-control" formControlName="password" placeholder="Password" required>
			<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
			<div *ngIf="registerForm.controls.password.value !== registerForm.controls.confirmPassword.value" class="text-danger">Passwords do not match</div>
			<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
		</fieldset>
		<fieldset class="form-group">
			<legend>Name</legend>
			<div class="full-name form-inline">
				<input class="form-control" formControlName="firstName" placeholder="First Name" required>
				<input class="form-control" formControlName="lastName" name="last-name" placeholder="Last Name" required>
			</div>
		</fieldset>
		<fieldset class="grad-year form-group">
			<legend>Grade</legend>
			<div class="teacher checkbox">
				<label>
					<input type="checkbox" class="form-check-input" formControlName="teacher">
					I am a Teacher
				</label>
			</div>
			<div *ngIf="!registerForm?.controls?.teacher.value" class="grade-spacer">
				<span class="line"></span>
				<span class="text">or</span>
				<span class="line"></span>
			</div>
			<div *ngIf="!registerForm?.controls?.teacher.value" class="student">
				<span>Choose your graduation year</span>
				<select class="c-select" formControlName="gradYear">
					<option *ngFor="let year of gradeRange" [value]="year">Class of {{year}}</option>
				</select>
			</div>
		</fieldset>
		<button class="btn btn-primary btn-lg btn-block" [disabled]="!registerForm.valid">Register</button>
	</form>
</div>
