.today {
	.date {
		display: inline-block;

		.date-full {
			font-weight: 400;
		}

		.date-numbered {
			font-weight: 300;
		}
	}

	.day {
		display: inline-block;
		float: right;
		text-align: right;

		.time {
			font-weight: 400;
		}

		.day-rotation {
			font-weight: 300;
		}
	}
}

.progress {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.progress-day {
		margin: 1rem auto;
		cursor: pointer;
		transition-duration: 0.5s;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&.rotate {
			transform: rotate(360deg);
		}
	}

	.progress-circular {
		position: relative;
		display: flex;

		.progress-chart {
			position: relative;
			z-index: 5;
		}

		.progress-percentage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.class-label {
				font-size: 1.5rem;
				font-weight: 300;
				letter-spacing: 0.03em;
			}

			.class-percent {
				font-size: 8rem;
				font-weight: 600;
				line-height: 0.75;
			}

			.school-done {
				font-size: 4rem;
				font-weight: 600;
				line-height: 0.75;
			}
		}
	}
}
