<div class="today">
	<div class="date">
		<h1 class="date-full">{{ today | date:'EEEE, MMMM d, y' }}</h1>
		<h3 class="date-numbered">{{ today | date:'dd.MM.yyyy' }}</h3>
	</div>
	<div class="day">
		<h1 class="time">{{ today | date:'h:mm:ss' }}</h1>
		<h3 class="day-rotation">{{ schedule?.day | dayRotation }}</h3>
	</div>
</div>

<div class="progress">
	<div class="progress-day badge badge-primary">{{schoolPercent | schoolPercentage}}</div>
	<div class="progress-circular">
		<canvas class="progress-chart"></canvas>
		<div *ngIf="0 < schoolPercent && schoolPercent < 100" class="progress-percentage">
			<span class="class-label">{{currentClass}} is</span>
			<span class="class-percent">{{currentClassPercent}}%</span>
			<span class="class-label">Done</span>
		</div>
		<div *ngIf="!schoolPercent || schoolPercent === 0 || schoolPercent === 100" class="progress-percentage">
			<span class="class-label">School is</span>
			<span class="school-done">Not in Session.</span>
		</div>
	</div>
</div>
