/* --------------------------
  Main Styles
--------------------------- */
.today {
	display: flex;
	justify-content: space-between;
	.date {
		.date-full {
			font-weight: 400;
			font-size: 1.5rem;
		}

		.date-numbered {
			font-weight: 300;
			font-size: 0.75rem;
		}
	}

	.day {
		text-align: right;
		.time {
			font-weight: 400;
			font-size: 1.5rem; 
		}

		.day-rotation {
			font-weight: 300;
			font-size: 0.75rem;
		}
	}
}

.progress {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	.progress-day {
		display: none;
		margin: 1rem auto;
		cursor: pointer;
		transition-duration: 0.5s;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&.rotate {
			transform: rotate(360deg);
		}
	}

	.progress-circular {
		position: relative;
		display: flex;
		overflow: visible;
		.progress-chart {
			position: relative;
			z-index: 5;
			margin-left: -50%;
			margin-top: -5%;
			width: 200% !important;
			height: 200% !important;
		}

		.progress-percentage {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.class-label {
				font-size: 1.5rem;
				font-weight: 300;
				letter-spacing: 0.03em;
				text-align: center;
			}

			.class-percent {
				font-size: 6rem;
				font-weight: 500;
				line-height: 0.75;
			}

			.school-done {
				font-size: 2rem;
				font-weight: 500;
				line-height: 0.75;
				text-align: center;
			}
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 544px) {
	.today {
		.date {
			.date-full {
				font-size: 2em;
			}

			.date-numbered {
				font-size: 1.75em;
			}
		}

		.day {
			.time {
				font-size: 2em; 
			}

			.day-rotation {
				font-size: 1.75em;
			}
		}
	}
	.progress {
		.progress-day {
			display: block;
		}
		.progress-circular {
			.progress-chart {
				width: 100% !important;
				height: 100% !important;
				margin: auto;
			}
			.progress-percentage {
				.class-label {
					font-size: 1.5rem;
					font-weight: 300;
				}

				.class-percent {
					font-size: 8rem;
					font-weight: 600;
				}

				.school-done {
					font-size: 4rem;
					font-weight: 600;
				}
			}
		}
	}
}