@import '../../../../styles/settings';

h3, form {
	color: $sophisticated-white;
}

.title {
	margin-bottom: 2rem;
}

.title-layout{
	margin-top: 1rem;
}

.upload-background-form {
	margin-bottom: 1rem;
}

.text-muted {
	color: mix($sophisticated-white, #636c72) !important;
}

.background-spacer {
	margin-bottom: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;

	color: $sophisticated-white;

	.line {
		height: 1px;
		width:100%;
		border-bottom: 1px solid $sophisticated-white;
	}

	.text {
		margin: 0 1rem;
	}
}

.trianglify {
	margin-bottom: 1rem;
	white-space: normal;
}
