<h3 class="title">Change Background</h3>
<form #uploadForm class="upload-background-form" (submit)="uploadBackground(fileUpload.files[0])">
	<div class="form-group">
		<label for="upload-background">Upload Background</label>
		<input #fileUpload id="upload-background" type="file" class="form-control-file" (change)="backgroundFileChange()" accept="image/png,image/jpeg">
		<small class="form-text text-muted">All images must be school-appropriate. Any violent, graphic, or obscene images will be deleted.</small>
	</div>
	<button class="btn btn-info" [disabled]="!fileSelected || uploadingBackground">{{ uploadingBackground ? 'Uploading...' : 'Upload'}}</button>
</form>
<div class="background-spacer">
	<span class="line"></span>
	<span class="text">or</span>
	<span class="line"></span>
</div>
<button class="trianglify btn btn-info" (click)="setTrianglify()" [disabled]="uploadingBackground">Use Randomly Generated Triangle Art for Background</button>
<button class="btn btn-danger" (click)="deleteBackground()" [disabled]="hasDefaultBackground">Revert to Default Background</button>
