<div mymicds-blur class="inspector-menu">
	<h3>Inspect Module</h3>
	<div class="inspector-options">
		<div class="inspector-option">
			<h6>Module</h6>
			<select class="custom-select" [(ngModel)]="selectedModuleType" (ngModelChange)="setDefaultOptions($event)">
				<option *ngFor="let module of moduleNames" [value]="module">{{ module | capitalize }}</option>
			</select>
		</div>
		<div class="inspector-option">
			<h6>Width</h6>
			<input class="form-control" [(ngModel)]="moduleWidth">
		</div>
		<div class="inspector-option">
			<h6>Height</h6>
			<input class="form-control" [(ngModel)]="moduleHeight">
		</div>
		<div class="inspector-option">
			<h6>Module Options</h6>
			<mymicds-module-options [type]="selectedModuleType" [(options)]="moduleOptions" (optionsChange)="updateOptions($event)"></mymicds-module-options>
		</div>
	</div>
</div>

<div class="module-container-container" [style.width]="moduleWidth + 'px'" [style.height]="moduleHeight + 'px'">
	<div class="resize-icon">
		<i class="fa fa-expand fa-flip-horizontal"></i>
	</div>
	<mymicds-module-container [type]="selectedModuleType" [inputs]="moduleOptions"></mymicds-module-container>
</div>
