@import '../../../styles/settings';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.help-header {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 6rem;
		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}

		h3 {
			font-weight: 300;
		}

		.github-logo {
			width: 2rem;

			.cls-1,
			.cls-2 {
				transition-duration: 0.25s;
				transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
				fill: #fff;
			}

			.cls-1 {
				fill-rule: evenodd;
			}

			&:hover {
				.cls-1,
				.cls-2 {
					fill: #4078c0;
				}
			}
		}
	}

	.help-body {
		.question {
			margin-bottom: 1rem;
			padding: 1rem;
			text-align: left;
			color: $sophisticated-white;

			h3 {
				letter-spacing: 0.03rem;
				font-weight: 300;
			}

			p {
			}

			ol {
				padding: 0 2rem;

				li {
					margin-bottom: 1rem;
				}
			}

			img {
				width: 100%;

				&.img-half {
					width: 50%;
				}
			}
		}
	}
}
