@import 'app/styles/settings';
@import 'app/styles/mixins';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.bulletin-header {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 6rem;

		color: $sophisticated-white;
		@include blur();

		h1 {
			font-weight: 600;
		}

		h3 {
			font-weight: 300;
		}
	}

	.table {
		color: $sophisticated-white;
		@include blur();

		thead {
			.bulletin-view {
				// width: 100%;
			}
		}

		tbody tr {

			.bulletin-index {

			}

			.bulletin-name button {
				width: 100%;
			}

			.bulletin-link {

			}
		}
	}
}
