<div class="container">
	<div blur class="bulletin-header">
		<h1>Daily Bulletin Archives</h1>
		<h3>Every Single Daily Bulletin. Ever.</h3>
	</div>
	<table blur *ngIf="bulletins?.length > 0" class="table">
		<thead class="thead-default">
			<tr>
				<th class="bulletin-number">#</th>
				<th class="bulletin-view">View</th>
				<th class="bulletin-download">Download</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let bulletin of bulletins; let i = index">
				<td class="bulletin-index">{{bulletins.length - i}}</td>
				<td class="bulletin-name"><a [routerLink]="['/daily-bulletin/' + bulletin]">Daily Bulletin - {{bulletin | date:'EEEE, MMMM d, y'}}</a></td>
				<td class="bulletin-link"><a [href]="baseURL + '/' + bulletin + '.pdf'" class="btn btn-danger">{{bulletin + '.pdf'}}</a></td>
			</tr>
		</tbody>
	</table>

</div>
