@import 'app/styles/mixins';
@import 'app/styles/settings';

.modules {
	padding-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.blur {
		width: 100%;
		display: inline-block;
		margin-bottom: $blur-margin;
		padding: 0.5rem;
		color: #eee;

		@include blur(10px, rgba(0, 0, 0, 0.5));

		&.blur-half {
			width: calc(50% - #{$blur-margin / 2});
		}
	}
}
