<div class="modules container">
	<progress-day [today]="current" [schedule]="schedule" class="blur"></progress-day>
	<div class="blur blur-half">
		<p>Half module</p>
	</div>
	<div class="blur">
		<p>Half module</p>
	</div>

	<div class="blur blur-half">
		<p>Half module</p>
	</div>
	<div class="blur blur-half">
		<p>Half module</p>
	</div>

	<div class="blur blur-half">
		<p>Half module</p>
	</div>

	<div class="blur">
		<p>Full module</p>
	</div>

	<div class="blur blur-half">
		<p>Half module</p>
	</div>
</div>
