<nav class="navbar navbar-expand navbar-dark bg-dark">
	<a class="navbar-brand" routerLink="/home">
		<img src="/assets/logo/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		MyMICDS.net
	</a>
	<div class="navbar-nav" [class.collapsed]="isCollapsed">
		<ng-container *ngFor="let page of pages">
			<a *ngIf="!page.auth || jwt"
				#rla="routerLinkActive"
				class="nav-item nav-link"
				[routerLink]="[page.url]"
				[routerLinkActive]="'active'"
				(click)="isCollapsed = !isCollapsed">
				<fa-icon [icon]="page.icon"></fa-icon>
				{{ page.name }}
				<fa-icon *ngIf="rla.isActive" class="collapse-dropdown-caret" [icon]="['fas','caret-down']"></fa-icon>
			</a>
		</ng-container>
	</div>
	<div *ngIf="!jwt" class="logged-out">
		<button class="btn btn-success" routerLink="/login">Login</button>
		<button class="btn btn-primary" routerLink="/register">Register</button>
	</div>
	<div *ngIf="jwt" class="logged-in">
		<span class="logged-in-user navbar-text">Logged in as {{ jwt.user }}</span>
		<button class="btn btn-danger" routerLink="/logout">Logout</button>
	</div>
</nav>
