@import '../../../styles/settings';

.container {
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.bulletin-header {
		width: 40rem;
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 0;

		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}

		.bulletin-navigation {
			margin-bottom: 0.5rem;
			display: flex;

			.previous-bulletin,
			.current-bulletin,
			.next-bulletin {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				border: none;
				color: $sophisticated-white;

				&:hover {
					color: darken($sophisticated-white, 20%);
				}
				&:active,
				&[disabled] {
					cursor: not-allowed;
					color: darken($sophisticated-white, 40%);
				}
			}

			.previous-bulletin,
			.next-bulletin {
				font-weight: 300;
				font-size: 2rem;

				fa {
					margin: 0 0.5rem;
				}
			}

			.current-bulletin {
				padding: 0 0.5rem;
				display: flex;
				flex-direction: column;

				font-size: 1.5rem;
				border-left: 1px solid rgba($sophisticated-white, 0.5);
				border-right: 1px solid rgba($sophisticated-white, 0.5);
			}
		}
	}

	.bulletin-message {
		padding: 1rem;
		color: $sophisticated-white;
		font-size: 2rem;
		font-weight: 600;
	}

	.bulletin-pdf {
		width: 100%;
		height: 1800px;
		border: none;
	}
}
