<h3 class="title">Change Password</h3>
<form [formGroup]="passwordForm" (ngSubmit)="changePassword()" novalidate>
	<div class="form-group">
		<label class="col-form-label" for="old-password">Old Password</label>
		<input
			id="old-password"
			type="password"
			class="form-control"
			formControlName="oldPassword"
			placeholder="Old Password"
		/>
	</div>
	<div class="form-group">
		<label class="col-form-label" for="old-password">New Password</label>
		<input
			id="new-password"
			type="password"
			class="form-control"
			formControlName="newPassword"
			placeholder="New Password"
		/>
	</div>
	<div class="form-group">
		<label class="col-form-label" for="old-password">Confirm New Password</label>
		<input
			id="confirm-password"
			type="password"
			class="form-control"
			formControlName="confirmPassword"
			placeholder="Confirm Password"
		/>
		<div *ngIf="passwordForm.errors?.mismatchedPasswords" class="text-danger">
			Passwords do not match
		</div>
	</div>
	<p class="form-text text-muted">
		MyMICDS.net is not affiliated with Mary Institute and Saint Louis Country Day School. We
		recommend you use a different password than your normal school password.
		<a routerLink="/about" fragment="disclaimer">Learn more here!</a>
	</p>
	<button class="btn btn-info" [disabled]="!passwordForm.valid">Change Password</button>
</form>
