<div class="confirm-container">
	<div mymicds-blur *ngIf="!confirmResponse" class="confirm-response">
		<h1>Confirming Account...</h1>
	</div>
	<div mymicds-blur *ngIf="confirmResponse === true" class="confirm-response">
		<h1>Account Confirmed!</h1>
		<i class="fa fa-check fa-5x"></i>
		<button routerLink="/login" class="btn btn-lg btn-block btn-success">Login</button>
	</div>
	<div mymicds-blur *ngIf="confirmResponse && typeOf(confirmResponse) === 'string'" class="confirm-response">
		<h1>{{confirmResponse}}</h1>
		<i class="fa fa-times fa-5x"></i>
		<p>Make sure you use the most recent email. If this continues, try registering again. Contact support if this keeps happening.</p>
	</div>
</div>
