<div class="confirm-container">
	<div blur *ngIf="!confirmResponse" class="confirm-response">
		<h1>Confirming Account...</h1>
	</div>
	<div blur *ngIf="confirmResponse === true" class="confirm-response">
		<h1>Account Confirmed!</h1>
		<i class="fa fa-check fa-5x"></i>
		<p class="confirm-success">You may now <a routerLink="/login">log in.</a></p>
	</div>
	<div blur *ngIf="confirmResponse && typeOf(confirmResponse) === 'string'" class="confirm-response">
		<h1>{{confirmResponse}}</h1>
		<i class="fa fa-times fa-5x"></i>
		<p>Make sure you use the most recent email. If this continues, try registering again. Contact support if this keeps happening.</p>
	</div>
</div>
