/*
 * We need a seperate stylesheet for the planner page because they are dynamically added.
 */

mymicds-planner {
	.planner-interface .planner-container .calendar-container .sidebar {
		.coming-up .coming-up-day .coming-up-events .event .event-content .event-desc,
		.day-selection .selection-events .event .event-content .event-desc {
			// Place styles in here for description stylings dynamically added.
			img {
				max-width: 100%;
				height: 100%;
			}

			ul {
				padding-left: 1rem;
			}
		}
	}

	.view-event-modal .modal-dialog .modal-content .modal-body {
		// Place styles in here for 'View Event' modal.
		img {
			max-width: 100%;
			height: 100%;
		}
	}
}
