@import 'app/styles/settings';

.loading-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
}

.planner-container {
	padding: 2rem 0 0 0;
	margin-bottom: 6rem;
	color: $sophisticated-white;

	.coming-up {
		margin-bottom: 1rem;

		.coming-up-event {

		}
	}

	.calendar {
		display: flex;
		flex-direction: column;

		.calendar-week {
			display: flex;

			.calendar-weekday {
				width: 100%;
				padding: 1rem;

				border: 1px solid $sophisticated-white;
			}
		}
	}
}
