@import 'app/styles/settings';

.loading-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
}

.planner-container {
	padding: 2rem 0 0 0;
	margin-bottom: 6rem;
	color: $sophisticated-white;

	.coming-up {
		margin-bottom: 1rem;

		.coming-up-event {

		}
	}

	.calendar {
		display: flex;
		flex-direction: column;
		padding: 0.5rem;

		.calendar-week {
			display: flex;

			.calendar-weekday {
				width: calc(100% / 7);
				min-height: 10rem;
				display: inline-block;
				padding: 0.25rem;

				border: 1px solid $sophisticated-white;

				.calendar-weekday-date {
					display: flex;
					justify-content: center;
					align-items: center;

					height: 1rem;
					width: 1rem;
					margin-bottom: 0.25rem;
					padding: 0.75rem;

					border-radius: 2.5rem;
					font-weight: 300;

					&.today {
						background: #ef4036;
						border-right: 1px solid darken(#ef4036, 20%);
						border-bottom: 1px solid darken(#ef4036, 20%);
					}
				}

				.event {
					padding: 0.25rem;
					border-right: 2px solid;
					border-bottom: 2px solid;

					.event-title,
					.event-desc {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					.event-title {
						font-weight: 600;
					}

					.event-desc {
						font-weight: 300;
					}
				}
			}
		}
	}
}
