<div class="container">
    <div *ngIf="loading">
        <div class="loading-container">
            <div class="loading">
                <div class="img-container">
                    <img src="dist/app/resources/logo/logo.svg">
                </div>
                <h1>Loading Planner</h1>
            </div>
		</div>
    </div>
    <div *ngIf="plannerMsg" class="alert alert-warning"> {{plannerMsg}} </div>
    <div class="calendar-container" *ngIf="!loading">
        <div class="blur calendar-left col-lg-8">
            <div class="calendar-nav">
                <i (click)="onSelectMonth(selectedDate.month-1)" class="calendar-nav-arrow clickable" fa [name]="'angle-double-left'" [size]="'3'" [pull]="'left'"></i>
                <div *ngIf="!selectingMonth" class="calendar-nav-select">
                    <h1 class="calendar-month"> {{monthList[selectedDate.month].string}} </h1>
                    <i (click)="selectingMonth = true" class="calendar-nav-dropdown clickable" fa [name]="'sort-desc'" [size]="'3'"></i>
                </div>
                <select *ngIf="selectingMonth" (ngModelChange)="onSelectMonth($event)" class="custom-select" #selectMonth="ngModel" type="selectMonth" id="selectMonth" [ngModel]="selectedDate.month" name="selectMonth" required>
                    <option *ngFor="let month of monthList" [value]="month.value-1">{{month.string}}</option>
                </select>
                <i (click)="onSelectMonth(selectedDate.month+1)" class="calendar-nav-arrow clickable" fa [name]="'angle-double-right'" [size]="'3'" [pull]="'right'"></i>
            </div>
            <table class="table">
                <thead>
                    <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednsday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Todo: use text masking svg for more styling options-->
                    <tr *ngFor="let eventsRow of eventsList; let k = index">
                        <th *ngFor="let events of eventsRow; let i = index" class="table-cell" (click)="selectDay(events)">
                            <div *ngFor="let event of events; let j = index" class="table-event">
                                <div *ngIf="event.date" class="event-date" [ngClass]="{'current-date': currentDate == event.date}">{{event.date}}</div>
                                <div *ngIf="!event.date" class="event-title" [ngClass]="eventChecker(k, i, j)" [ngStyle]="applyColor(event)">{{event.title}}</div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="blur calendar-right col-lg-4">
            <div *ngIf="selectedEvents.length == 0"><h2>Click on a day to select it.</h2></div>
            <div *ngIf="!(selectedEvents.length == 0)">
                <div *ngFor="let event of selectedEvents; let i = index">
                    <div *ngIf="event.date"><h2>Events in {{selectedDate.month+1}}/{{event.date}}, {{selectedDate.year}}</h2></div>
                    <div *ngIf="!event.date">
                        <div class="detail-title"><h3>{{i}}. {{event.title}}</h3>
                        <i (click)="bindEvent(event); toggle = true; isAdding = false" class="edit-sign clickable" fa [name]="'pencil'" [size]=2></i>
                        <i class="delete-sign clickable" fa [name]="'times'" [size]=2 (click)="deleteEvent(event._id)"></i></div>
                        <div class="detail-desc">description: {{event.desc}}</div>
                        <div class="detail-link">link: {{event.link}}</div>
                    </div>
                </div>
                <div *ngIf="formLoading">
                    <h2 class="form-title">Loading</h2>
                </div>
                <div class="add-event" *ngIf="!formLoading">
                    <h2 *ngIf="isAdding" class="form-title">Add an Event</h2>
                    <h2 *ngIf="!isAdding" class="form-title">Change an Event</h2>
                    <i class="add-button clickable" (click)="toggleForm()" [style.transform]="toggle ? 'rotate(45deg)' : 'initial'" fa [name]="'plus'" [size]="3"></i>
                    
                    <form *ngIf="toggle" (ngSubmit)="addEvent()" #eventForm="ngForm" id="eventForm">
                        <fieldset class="form-group">
                            <label for="eventTitle"><h3>Title</h3></label>
                            <input type="text" class="form-control" id="eventTitle" placeholder="Title" required
                            [(ngModel)]="eventModel.title" name="eventTitle" #eventTitle="ngModel">
                        </fieldset>
                        <fieldset>
                            <label for="eventType"><h3>Class</h3></label>
                            <select class="custom-select" #eventType="ngModel" type="eventType" id="eventType" [(ngModel)]="eventModel.classId" name ="eventType">
                                <option [value]="null" selected>Select the class you want to associate the event with.</option>
                                <option *ngFor="let class of classesList" [value]="class._id">{{class.name}}</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <label for="eventDesc"><h3>Description</h3></label>
                            <textarea rows="3" class="form-control" id="eventDesc" placeholder="Description"
                            [(ngModel)]="eventModel.desc" name="eventDesc" #eventDesc="ngModel"></textarea>
                        </fieldset>
                        <fieldset>
                            <div class="input-group">
                                <h3>From</h3>
                                <input type="text" class="form-control" id="eventFromYear" placeholder="4-digit year" required
                                [(ngModel)]="eventModel.startYear" name="eventFromYear" #eventFromYear="ngModel">
                                <select class="custom-select" #eventFromMonth="ngModel" type="eventFromMonth" id="eventFromMonth" [(ngModel)]="eventModel.startMonth" name="eventFromMonth" required>
                                    <option *ngFor="let month of monthList" [value]="month.value">{{month.string}}</option>
                                </select>
                                <select class="custom-select" #eventFromDate="ngModel" type="eventFromDate" id="eventFromDate" [(ngModel)]="eventModel.startDay" name="eventFromDate" required>
                                    <option *ngFor="let d of dateList" [value]="d">{{d}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <h3>To</h3>
                                <input type="text" class="form-control" id="eventToYear" placeholder="4-digit year" required
                                [(ngModel)]="eventModel.endYear" name="eventToYear" #eventToYear="ngModel">
                                <select class="custom-select" #eventToMonth="ngModel" type="eventToMonth" id="eventToMonth" [(ngModel)]="eventModel.endMonth" name="eventToMonth" required>
                                    <option *ngFor="let month of monthList" [value]="month.value">{{month.string}}</option>
                                </select>
                                <select class="custom-select" #eventToDate="ngModel" type="eventToDate" id="eventToDate" [(ngModel)]="eventModel.endDay" name="eventToDate" required>
                                    <option *ngFor="let d of dateList" [value]="d">{{d}}</option>
                                </select>
                            </div>
                        </fieldset>
                        <button type="submit" [disabled]="!eventForm.form.valid" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>