<div class="container">
	<div mymicds-blur class="settings-header">
		<h1>Settings</h1>
		<h3>{{ username }}</h3>
	</div>
	<div class="settings-body">
		<!-- Change Basic Information -->
		<mymicds-info mymicds-blur class="settings-section half"></mymicds-info>

		<!-- Change Password -->
		<mymicds-change-password
			mymicds-blur
			class="settings-section half"
		></mymicds-change-password>

		<!-- Change Background -->
		<mymicds-background mymicds-blur class="settings-section half"></mymicds-background>

		<!-- Set URLs -->
		<mymicds-url mymicds-blur class="settings-section half"></mymicds-url>

		<!-- Set Classes -->
		<mymicds-classes mymicds-blur class="set-classes settings-section"></mymicds-classes>
	</div>
</div>
