<ng-container *ngIf="config && show">
	<!-- Boolean -->
	<div *ngIf="config.type === 'boolean'" class="form-check">
		<label class="form-check-label">
			<input type="checkbox" class="form-check-input" [ngModel]="value" (ngModelChange)="valueChange.emit($event)">
			{{ config?.label }}
		</label>
	</div>

	<!-- Label -->
	<p *ngIf="config.type !== 'boolean'"><strong>{{ config?.label }}</strong></p>

	<!-- Number -->
	<input *ngIf="config.type === 'number'" class="form-control" type="number" [ngModel]="value" (ngModelChange)="valueChange.emit($event)">

	<!-- String -->
	<input *ngIf="config.type === 'string'" class="form-control" [ngModel]="value" (ngModelChange)="valueChange.emit($event)">

	<!-- Date -->
	<ng-container *ngIf="config.type === 'Date'">
		<div class="input-group">
			<input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="changeDate($event)"
				   name="d" [(ngModel)]="value" ngbDatepicker #d="ngbDatepicker">
			<div class="input-group-append">
			  <button class="btn btn-secondary calendar" (click)="d.toggle()" type="button">
				  <fa-icon icon="calendar"></fa-icon>
			  </button>
			</div>
		  </div>
	</ng-container>

	<!-- Icon -->
	<div *ngIf="config.type === 'ICON'">
		<input
		[iconPicker]="value"
		[ipIconPack]="['fa5']"
		[ipPosition]="bottom"
		[ipDivSearchStyleClass]="icon-dark"
		(iconPickerSelect)="changeIcon($event)"/>
	</div>

	<!-- Enum -->
	<select *ngIf="select" class="form-control" [ngModel]="value" (ngModelChange)="valueChange.emit($event)">
		<option *ngFor="let item of config.type.values" [value]="item.value" [selected]="config.default === item.value">{{ item.name }}</option>
	</select>
</ng-container>
