<div class="today">
	<div class="date">
		<h1 class="date-full">{{ today | date:'EEEE, MMMM d, y' }}</h1>
		<h3 class="date-numbered">{{ today | date:'dd.MM.yy' }}</h3>
	</div>
	<div class="day">
		<h1 class="time">{{ today | date:'h:mm:ss' }}</h1>
		<h3 class="day-rotation">{{ schedule?.day | dayRotation }}</h3>
	</div>
</div>

<div class="progress">
	<div class="progress-day label label-pill label-info">{{schoolPercent | schoolPercentage}}</div>
	<div class="progress-circular">
		<base-chart class="chart"
			[chartType]="progressChartType"
			[options]="progressOptions"
			[data]="progressData"
			[labels]="progressLabels"
			[colors]="progressColors"></base-chart>
		<div *ngIf="0 < schoolPercent && schoolPercent < 100" class="progress-percentage">
			<span class="class-label">{{currentClass}} is</span>
			<span class="class-percent">{{currentClassPercent}}%</span>
			<span class="class-label">Done</span>
		</div>
		<div *ngIf="!schoolPercent || schoolPercent === 0 || schoolPercent === 100" class="progress-percentage">
			<span class="class-label">School is</span>
			<span class="school-done">Not in session.</span>
		</div>
	</div>
</div>
