<div class="today">
	<div class="date">
		<h1 class="date-full"></h1>
		<h3 class="date-numbered"></h3>
	</div>
	<div class="day">
		<h1 class="time"></h1>
		<h3 class="day-rotation"></h3>
	</div>
</div>
<div class="progress">
	<div class="progress-day label label-pill label-info">School Day is 56% Complete!</div>
	<base-chart class="chart"
		[chartType]="'doughnut'"
		[options]="progressOptions"
		[labels]="progressClasses"
		[colors]="progressColors"
		[data]="progressPercentages"></base-chart>
</div>
