<div class="today">
	<div class="date">
		<h1 class="date-full">{{ today | date:'EEEE, MMMM d, y' }}</h1>
		<h3 class="date-numbered">{{ today | date:'dd.MM.yy' }}</h3>
	</div>
	<div class="day">
		<h1 class="time">{{ today | date:'h:mm:ss' }}</h1>
		<h3 class="day-rotation">{{ schedule?.day | dayRotation }}</h3>
	</div>
</div>
<div class="progress">
	<div class="progress-day label label-pill label-info">School Day is 56% Complete!</div>
	<div class="progress-circular">
		<base-chart class="chart"
			[chartType]="'doughnut'"
			[options]="progressOptions"
			[labels]="progressClasses"
			[colors]="progressColors"
			[data]="progressPercentages"></base-chart>
		<div *ngIf="currentClass" class="progress-percentage">
			<span class="class-label">{{currentClass}} is</span>
			<span class="class-percent">{{currentClassPercent}}</span>
			<span class="class-label">Done</span>
		</div>
		<div *ngIf="!currentClass" class="progress-percentage">
			<span class="class-label">School is</span>
			<span class="class-percent">Done.</span>
		</div>
	</div>
</div>
