<!-- Day navigation bar -->
<div class="day-navigation">
	<button class="previous-day" (click)="previousDay($event)">
		<span>
			<fa name="angle-left"></fa>
			Previous Day
		</span>
	</button>

	<button class="current-day" (click)="currentDay($event)">
		<span *ngIf="viewSchedule?.day">Day {{ viewSchedule.day }}</span>
		<span>{{ scheduleDate.toDate() | date:'EEEE, MMM d' }}</span>
	</button>

	<button class="next-day" (click)="nextDay($event)">
		<span>
			Next Day
			<fa name="angle-right"></fa>
		</span>
	</button>
</div>
<!-- Loading -->
<div *ngIf="!viewSchedule">
	<p>Loading schedule...</p>
</div>
<!-- If there are no classes -->
<div *ngIf="viewSchedule?.classes?.length === 0">
	<p>There are no classes!</p>
</div>
<!-- Table to view schedule -->
<table *ngIf="viewSchedule?.classes?.length > 0" class="table">
	<thead class="thead-default">
		<tr>
			<th class="start">Start</th>
			<th class="end">End</th>
			<th class="class-name">Class</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let block of viewSchedule.classes">
			<td>{{ block.start | date:'shortTime' }}</td>
			<td>{{ block.end | date:'shortTime' }}</td>
			<td>{{ block.class?.name || block.class }}</td>
		</tr>
	</tbody>
</table>
