<div id="sidebar" class="sidebar" [class.open]="open">
	<div class="sidebar-nav">
		<div class="sidebar-tab notifications" (click)="openTab(0)"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
		<div class="sidebar-tab timer" (click)="openTab(1)"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
	</div>
	<div class="sidebar-content">
		<div class="sidebar-notifications" [@tabOpen]="sidebarTabs[0]">
			<h1>Announcements</h1>
			<ul class="announcement-list">
				<li *ngFor="let announcement of announcements" class="announcement-item">
					<h3>{{announcement.title}}</h3>
					{{announcement.content}}
				</li>
			</ul>
			<h1>Coming Up</h1>
			<ol class="notification-list">
				<li *ngFor="let notification of notifications.upcoming" class="notification-item" [style.background-color]="notification.color">
					<h3>{{notification.title}}</h3>
					{{notification.content}}
				</li>
			</ol>
			<h1>Ending in a week</h1>
			<ol>
				<li *ngFor="let notification of notifications.ending" class="notification-item">
					<h3>{{notification.title}}</h3>
					{{notification.content}}
				</li>
			</ol>
		</div>
		<div class="sidebar-timer" [@tabOpen]="sidebarTabs[1]">
			Timer goes here.
		</div>
	</div>
</div>

<div class="sidebar-toggle" (click)="openSidebar()">
	<i class="fa fa-bars sidebar-icon" aria-hidden="true"></i> {{notifications?.upcoming?.length + notifications?.ending?.length}}
</div>
