@import '../../../styles/settings';

.sidebar {
    background-color: black;
	width: 30rem;
	height: 100%;
    position: fixed;
    top: 0;
    left: -30rem;

    color: dimgray;
    z-index: 1000;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    overflow: hidden;

	&.open {
		left: 0;
		box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
	}

    .sidebar-nav {
        height: 1.5em;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        font-size: 3em;
        .sidebar-tab {
            color: grey;
            margin: 0.2em 0.2em 0;
            flex-basis: calc(100% / 2);
            text-align: center;
            line-height: 1.2em;
            cursor: pointer;
        }
        .sidebar-tab:nth-child(1) {
            background-color: $sidebar-yellow;
        }
        .sidebar-tab:nth-child(2) {
            background-color: $sidebar-blue;
        }
    }

    .sidebar-content {
        div {
            position: absolute;
            width: 30em;
        }
        div:nth-child(1) {
            background-color: $sidebar-yellow;
        }
        div:nth-child(2) {
            background-color: $sidebar-blue;
        }
    }
}

.sidebar-toggle {
	cursor: pointer;
	padding: 0.5rem 1rem;
    position: fixed;
    top: 40%;
    z-index: 980;
    background-color: #373a3c;
    color: #eceeef;
    font-size: 1.5rem;
}

.notification-list {
    padding: 0;
}

.notification-item {
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
    h3 {
        margin: 0;
        line-height: 2em
    }
}

.announcement-list {
    padding: 0.25em;
}

.announcement-item {
    list-style-type: none;
    border-radius: 0.5em;
    background-color: darken(rgba(41, 171, 226, 1), 20%);
    color: white;
    animation: pulse 0.75s infinite
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 8px rgba(41, 171, 226, 0.8)
    }
    25% {
        box-shadow: 0 0 0 2px rgba(41, 171, 226, 0.8)
    }
    50% {
        box-shadow: 0 0 0 15px rgba(41, 171, 226, 0.8)
    }
    75% {
        box-shadow: 0 0 0 8px rgba(41, 171, 226, 0.8)
    }
    100% {
        box-shadow: 0 0 0 12px rgba(41, 171, 226, 0.8)
    }
}
