.weather {
	.weather-header {

	}

	.temperature {
		display: inline-block;
		float: right;

		.temp-actual {
			.temp-range {
				.temp-high {

				}

				.temp-low {

				}

				.temp-range-label {

				}

				.temp-spacer {

				}
			}

			.current-temp {

			}
		}

		.temp-feels-like {

		}
	}

	.weather-misc {
		display: inline-block;

		.humidity,
		.precipitation {
			.weather-label {

			}
		}
	}

	.wind {
		.wind-vector {
			.wind-magnitude {

			}

			.wind-direction {

			}
		}
	}
}




/*.current-conditions {
    float: left;
}

.temperature {
    float: right;
}

.actual-temp {
    display: flex;
    align-items: center;
    height: 8em;
}

.temp-range {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-spacer {
    height: 1px;
    width: 2em;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0.25em 0 0.25em 0;
}

.high-temp, .low-temp {
    font-weight: 300;
    font-size: 1.2em;
}

.current-temp {
    display: flex;
    font-weight: 300;
    font-size: 8em;
    font-family: 'Slim Joe', 'Open Sans', sans-serif;
    align-items: center;
}

.current-temp small {
    font-size: 0.4em;
}

.temp-feels-like {
    align-self: flex-end;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.humidity, .precipitation {
    float: left;
    clear: left;
    font-size: 1.5em;
}

.humidity-label, .precipitation-label {
    font-weight: 600;
}

.humidity-data, .precipitation-data {
    font-weight: 300;
}

.wind {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wind .wi {
    font-size: 8em;
}

.wind-vector {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.wind-magnitude {
    font-size: 1.5em;
    font-weight: 300;
}

.wind-speed {
    font-weight: 700;
}*/
