<nav class="navbar navbar-full navbar-dark bg-inverse">
	<img class="navbar-brand" src="https://mymicds.net/assets/logo/logo.svg">
	<a class="navbar-brand" [routerLink]="['/home']">MyMICDS.net</a>
	<div class="nav navbar-nav">
		<a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
		<a class="nav-item nav-link" [routerLink]="['/lunch']" [routerLinkActive]="['active']">Lunch</a>
	</div>
	<div class="navbar-right">
		<button class="btn btn-success">Login</button>
		<button class="btn btn-primary">Register</button>
	</div>
</nav>
