<nav class="navbar navbar-full navbar-dark bg-inverse">
	<img class="navbar-brand" src="https://mymicds.net/assets/logo/logo.svg">
	<a class="navbar-brand" [routerLink]="['/home']">MyMICDS.net</a>
	<div class="nav navbar-nav">
		<a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="changeTitle()">Home</a>
		<a class="nav-item nav-link" [routerLink]="['/lunch']" [routerLinkActive]="['active']" (click)="changeTitle()">Lunch</a>
		<a class="nav-item nav-link" [routerLink]="['/settings']" [routerLinkActive]="['active']" (click)="changeTitle()">Settings</a>
		<a class="nav-item nav-link" [routerLink]="['/planner']" [routerLinkActive]="['active']" (click)="changeTitle()">Planner</a>
	</div>
	<div *ngIf="!userName" class="navbar-right">
		<button class="btn btn-success" [routerLink]="['/login']">Login</button>
		<button class="btn btn-primary" [routerLink]="['/register']">Register</button>
	</div>
	<div *ngIf="userName" class="navbar-right">
		<p class="logged-in-user text-muted">Logged in as {{userName}}</p>
		<button class="btn btn-danger" [routerLink]="['/login']">Logout</button>
	</div>
</nav>
