@import 'app/styles/settings';

.forgot-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.forgot-form {
		width: 35rem;
		padding: 1rem 2.5rem;
		color: $sophisticated-white;

		h1 {
			margin-bottom: 2.5rem;
			font-weight: 300;
		}
	}

	.forgot-response {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}

		fa {
			display: block;
			margin-bottom: 1rem;
		}

		a {
			color: #0275d8;
			cursor: pointer;
		}
	}
}
