<div class="module-container">
	<div *ngIf="loading" class="loading-container">
		<div mymicds-blur class="loading">
			<h1>Fetching the Lunch Menu...</h1>
		</div>
	</div>
<div *ngIf="!loading" class="lunch-container container">


	<!-- Actual Lunch -->
	<div class="lunch-week" routerLink='/lunch'>
		<!-- Loop through Weekdays -->
		<div mymicds-blur class="lunch-day text-center" [class.today]="">
			<!-- Within each weekday, loop through the schools -->
			<div *ngFor="let schoolName of schools">
				<!-- Only show school lunch if it's selected -->
				<div *ngIf="school === schoolName">
					<!-- Lunch Date -->
					<div class="lunch-date">
						<h3 class="date-weekday">{{ todaysLunch.date.weekday }}</h3>
						<h5 class="date-date text-muted">{{ todaysLunch.date.date }}</h5>
					</div>
					<!-- Lunch Menu -->
					<div class="lunch-menu">
						<!-- Displays if no Lunch -->
						<div *ngIf="!todaysLunch.lunch[schoolName]" class="no-lunch">
							<p>No Lunch Today</p>
						</div>
						<!-- Loop through menu and display lists -->
						<div *ngIf="todaysLunch.lunch[schoolName]" class="lunch">
							<div *ngFor="let data of todaysLunch.lunch[schoolName].categories | values" class="lunch-category">
								<div *ngIf="data.key=='Main Dish'||data.key=='Main Entree'" class="main-entree">
								<h3>{{ data.key }}</h3>
								<ul>
									<li *ngFor="let item of data.value" [ngClass]="lunchClassMaker(data.key)">{{ item }}</li>
								</ul>
								</div>
								<div *ngIf="data.key!='Main Dish' && data.key!='Main Entree'" class="not-main-entree">
									<h3 class = "main-entree-key">{{ data.key }}</h3>
									<ul>
										<li *ngFor="let item of data.value" [ngClass]="lunchClassMaker(data.key)">{{ item }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>
</div>
</div>
