textarea {
	margin-top: -1rem;
	margin-left: -1rem;
	width: calc(100% + 2rem);
	height: calc(100% + 2rem);
	border: none;
	font-size: 1.3rem;
}

.email-remind {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3.5rem;
	transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
	overflow: hidden;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	&:hover {
		width: 8rem;
	}
	div {
		display: inline-block;
		font-size: 0.9rem;
		width: 5rem;
		margin-left: 0.5rem;
	}
}
