@import '../../../../styles/settings';

.module-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	&.fixed-height {
		.table-container .table {
			position: absolute;
			display: flex;
			flex-direction: column;

			tbody {
				display: block;
				overflow: auto;
			}
		}
	}

	.day-navigation {
		flex-grow: 0;
		flex-shrink: 1;

		margin-bottom: 0.5rem;
		display: flex;

		.previous-day,
		.current-day,
		.next-day {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.25rem;

			background: none;
			border: none;
			color: $sophisticated-white;

			&:hover {
				color: darken($sophisticated-white, 20%);
			}

			&:active {
				color: darken($sophisticated-white, 40%);
			}
		}

		.previous-day,
		.next-day {
			display: flex;
			font-weight: 300;

			.fa {
				margin: 0 0.5rem;
			}
		}

		.previous-day {
			flex-wrap: wrap;
		}

		.next-day {
			flex-wrap: wrap-reverse;
		}

		.current-day {
			display: flex;
			flex-direction: column;

			font-weight: 600;
			border-left: 1px solid rgba($sophisticated-white, 0.5);
			border-right: 1px solid rgba($sophisticated-white, 0.5);
		}
	}


	.table-container {
		flex-grow: 1;
		flex-shrink: 1;

		// overflow: hidden;

		.table {
			margin: 0;

			// display: flex;
			// flex-direction: column;

			tbody {
				// display: block;
				// overflow: auto;
			}

			tr {
				&.current {
					background: rgba($sophisticated-white, 0.5);
					color: #464a4c;
					font-weight: 800;
				}

				th, td {
					&.start,
					&.end {
						white-space: nowrap;
					}

					&.class-name {
						width: 100%;
					}
				}
			}
		}
	}
}
