<div #moduleContainer class="module-container" [class.fixed-height]="fixedHeight">
	<!-- Day navigation bar -->
	<div class="day-navigation">
		<button class="previous-day" (click)="previousDay()">
			<i class="fa fa-angle-left"></i>
			<span>Previous Day</span>
		</button>

		<button class="current-day" (click)="currentDay()">
			<span *ngIf="viewSchedule?.day">Day {{ viewSchedule.day }}</span>
			<span>{{ scheduleDate.toDate() | date:'EEEE, MMM d':'CST' }}</span>
			<span *ngIf="viewSchedule?.special">Special Schedule</span>
		</button>

		<button class="next-day" (click)="nextDay()">
			<span>Next Day</span>
			<i class="fa fa-angle-right"></i>
		</button>
	</div>
	<!-- Loading -->
	<div *ngIf="!viewSchedule">
		<p>Loading schedule...</p>
	</div>
	<!-- If there are no classes -->
	<div *ngIf="viewSchedule?.classes?.length === 0">
		<p>There are no classes!</p>
	</div>
	<!-- Table to view schedule -->
	<div #schedule class="table-container" [hidden]="viewSchedule?.classes?.length <= 0">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th class="start" [style.width]="startWidth + 'px'">Start</th>
					<th class="end" [style.width]="endWidth + 'px'">End</th>
					<th class="class-name" [style.width]="(tableWidth - startWidth - endWidth) + 'px'">Class</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let block of viewSchedule?.classes" [class.current]="block.start.isSameOrBefore(current) && current.isBefore(block.end)">
					<td #start class="start" >{{ block.start | date:'shortTime':'CST' }}</td>
					<td #end class="end">{{ block.end | date:'shortTime':'CST' }}</td>
					<td class="class-name">{{ block.class.name }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
