@import '../../../../styles/settings';

:host {
	display: flex;
	flex-direction: column;

	.day-navigation {
		flex-grow: 0;
		flex-shrink: 1;
	}

	.table {
		flex-grow: 1;
		flex-shrink: 1;
	}
}

.day-navigation {
	margin-bottom: 0.5rem;
	display: flex;

	.previous-day,
	.current-day,
	.next-day {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.25rem;

		background: none;
		border: none;
		color: $sophisticated-white;

		&:hover {
			color: darken($sophisticated-white, 20%);
		}
		&:active {
			color: darken($sophisticated-white, 40%);
		}
	}

	.previous-day,
	.next-day {
		font-weight: 300;

		.fa {
			margin: 0 0.5rem;
		}
	}

	.current-day {
		display: flex;
		flex-direction: column;

		font-weight: 600;
		border-left: 1px solid rgba($sophisticated-white, 0.5);
		border-right: 1px solid rgba($sophisticated-white, 0.5);
	}
}

.table {
	margin: 0;

	thead {
		.start,
		.end {
			width: 6.5rem;
		}
	}

	tr.current {
		background: rgba($sophisticated-white, 0.5);
		color: #464a4c;
		font-weight: 800;
	}
}
