<div class="module-container">

	<div *ngIf="!weather" class="weather-loading">
		<p>Loading weather data...<p>
	</div>

	<div *ngIf="weather" class="weather">
		<h1>
			<i class="wi {{ weather.weatherIcon | weatherIcon }}"></i>
			Weather at MICDS
		</h1>
		<div class="temperature">
			<div class="temp-actual">
				<div class="current-temp">
					{{ metric ? weatherMetric.temperature : weather.temperature }}
					<span class="degrees">{{ metric ? '&deg;C' : '&deg;F' }}</span>
				</div>
				<div class="temp-range">
					<div class="temp-high">
						<span class="temp-range-label">High</span>
						{{ metric ? weatherMetric.temperatureHigh : weather.temperatureHigh }}{{ metric ? '&deg;C' : '&deg;F' }}
					</div>

					<span class="temp-spacer"></span>

					<div class="temp-low">
						<span class="temp-range-label">Low</span>
						{{ metric ? weatherMetric.temperatureLow : weather.temperatureLow }}{{ metric ? '&deg;C' : '&deg;F' }}
					</div>
				</div>
			</div>
		</div>

		<div class="weather-misc">
			<div class="humidity">
				<span class="weather-label">Humidity</span>
				{{ weather.humidity | round }}%
			</div>

			<div class="precipitation">
				<span class="weather-label">Precipitation Chance</span>
				{{ (weather.precipitationChance * 100) | round }}%
			</div>
		</div>

		<div class="wind">
			<i class="wi wi-wind from-{{weather.windDir}}-deg"></i>
			<div class="wind-vector">
				<div class="wind-magnitude">Wind <span class="wind-speed">{{ metric ? weatherMetric.windSpeed : weather.windSpeed }}</span> {{ metric ? 'kilometers' : 'miles' }}/hour</div>
				<div class="wind-direction">From {{ weather.windDir | compassDirection }}</div>
			</div>
		</div>
	</div>

	<div class="powered-by-container">
		<a class="powered-by">
			<img src="/assets/other/openweather-logo.png">
		</a>
	</div>
</div>
