<ng-container *ngIf="contains(aliasTypes, type) && class">
	<div *ngFor="let externalClass of externalClasses" class="checkbox">
		<label>
			<input type="checkbox"
				(change)="aliasChange($event, externalClass, class._id)"
				[checked]="aliasChecked(externalClass, class._id)"
				[disabled]="aliasDisabled(externalClass, class._id)">
			{{ externalClass }}
		</label>
	</div>
	<div *ngIf="externalClasses.length < 1">
		<p>No {{ type }} classes found. Integrate them in the 'URL Settings' section!</p>
	</div>
</ng-container>
