<div #moduleContainer class="module-container">
	<h1 class="display-4">
		<ng-container *ngIf="schedule?.day">
			Day {{ schedule.day }}
		</ng-container>
		<ng-container *ngIf="schedule?.special">
			Special Schedule
		</ng-container>
		<ng-container *ngIf="!schedule?.day">
			{{ scheduleDate.toDate() | date:'MMMM d' }}
		</ng-container>
	</h1>
	<h3>Upcoming Classes</h3>
	<div class="schedule-container">
		<!-- Loading -->
		<div *ngIf="!schedule">
			<p>Loading schedule...</p>
		</div>
		<!-- If there are no classes (like weekends or something) -->
		<div *ngIf="schedule?.classes?.length === 0">
			<p>There are no classes!</p>
		</div>
		<!-- If there's classes but we aren't supposed to display any (like after school probably) -->
		<div *ngIf="schedule?.classes?.length > 0 && showNBlocks === 0">
			<p>No more classes! 🎉</p>
		</div>
		<!-- Actual list of classes -->
		<div #scheduleQueue
			class="schedule"
			[style.flex-direction]="isHorizontal ? 'row' : 'column'"
			[style.height]="isHorizontal ? '' : '100%'">

			<ng-container *ngFor="let block of schedule?.classes; let i = index">
				<div #displayBlock class="block" [hidden]="startIndex > i || i >= (startIndex + showNBlocks)">
					<h3>{{ block.class?.name }}</h3>
					<div>{{ block.start | date:'shortTime' }} - {{ block.end | date:'shortTime' }}</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
