@import '../../../../styles/settings';

.module-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	&[min-width~='300px'] h1 {
		font-size: 3.5rem;
	}

	&[max-width~='300px'] h3 {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 2rem;
		font-weight: 400;
	}

	h3 {
		font-weight: 300;
	}

	p {
		text-align: center;
		font-size: 1.75rem;
	}

	.schedule-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;

		.schedule {
			display: flex;
			justify-content: space-around;

			.block {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-bottom: 1rem;
				padding: 0.5rem;

				border-left: 1px solid rgba($sophisticated-white, 0.5);

				h3 {
					font-weight: 600;
				}
			}
		}
	}
}
