@import '../../../styles/settings';

/* --------------------------
  Main Styles
--------------------------- */
.container {
	max-width: 52rem;
	margin-bottom: 6rem;
	padding: 2rem 0 0 0;
	text-align: center;

	.bulletin-header {
		width: 20rem;
		display: inline-block;
		margin-bottom: 1rem;
		padding: 1rem 0;

		color: $sophisticated-white;

		h1 {
			font-weight: 600;
		}
	}

	.bulletin-message {
		padding: 1rem;
		color: $sophisticated-white;
		font-size: 2rem;
		font-weight: 600;
	}

	a {
		width: 95%;
		margin: auto;
	}
}

/* --------------------------
  Media Queries
--------------------------- */
@media screen and (min-width: 768px) {
	.container {
		.bulletin-header {
			width: 40rem;
		}
	}
}
