<div class="container">
	<div mymicds-blur class="bulletin-header">
		<h1>Daily Bulletin</h1>
		<!-- Bulletin navigation bar -->
		<button routerLink="/daily-bulletin/archives" class="btn btn-info btn-lg">
			See Archived Bulletins
		</button>
	</div>

	<a
		*ngIf="!loading"
		class="btn btn-primary btn-lg btn-block"
		[href]="bulletin"
		target="_blank"
		rel="noopener noreferrer"
	>
		Bulletin for {{ bulletinDate | date: 'fullDate' }}
	</a>

	<!-- Loading -->
	<p mymicds-blur *ngIf="loading" class="bulletin-message">Fetching the Daily Bulletins...</p>
	<!-- No Daily Bulletins -->
	<p mymicds-blur *ngIf="!loading && bulletin.length === 0" class="bulletin-message">
		There are no Daily Bulletins!
	</p>
</div>
