@import 'app/styles/settings';
@import 'app/styles/mixins';

.logout-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.logout {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;
		@include blur();

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
}
