<div class="reset-container">
	<!-- Regular Form -->
	<div blur *ngIf="!submitted" class="reset-form">
		<h1>Reset your password for {{user}}</h1>
		<form [formGroup]="resetForm" (ngSubmit)="resetPassword()" novalidate>
			<fieldset class="form-group">
				<legend>Password</legend>
				<input type="password" class="form-control" formControlName="password" placeholder="Password">
				<input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
				<div *ngIf="resetForm.controls.password.value !== resetForm.controls.confirmPassword.value" class="text-danger">Passwords do not match</div>
				<p class="form-text text-muted">MyMICDS.net is not affiliated with Mary Institute Country Day School. We recommend you use a different password than your normal school one. <a routerLink="/about" fragment="disclaimer">Learn more here!</a></p>
			</fieldset>
			<button class="btn btn-success btn-lg btn-block" [disabled]="!resetForm.valid">Send me an Email</button>
		</form>
	</div>
	<!-- Loading Screen -->
	<div blur *ngIf="submitted && resetResponse === null" class="reset-response">
		<h1>Changing Password...</h1>
	</div>
	<!-- Success Response -->
	<div blur *ngIf="submitted && resetResponse === true" class="reset-response">
		<h1>Password Changed!</h1>
		<i class="fa fa-check fa-5x"></i>
		<button routerLink="/login" class="btn btn-success">Login</button>
	</div>
	<!-- Failure Response -->
	<div blur *ngIf="submitted && typeOf(resetResponse) === 'string'" class="reset-response">
		<h1>{{resetResponse}}</h1>
		<i class="fa fa-times fa-5x"></i>
		<p>Make sure you click the link on the most recent email you recieved. Contact support if an unexpected error keeps happening.</p>
	</div>
</div>
