@import 'app/styles/settings';

.loading-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.loading {
		width: 35rem;
		padding: 1rem;
		text-align: center;
		color: $sophisticated-white;

		h1 {
			font-size: 3rem;
			font-weight: 300;
		}
	}
}

.lunch-container {
	padding: 2rem 0 0 0;
	margin-bottom: 6rem;

	.school-selection {
		margin-bottom: 1rem;
		text-align: center;
	}

	.week-navigation {
		margin-bottom: 0.5rem;
		display: flex;

		.previous-week,
		.current-week,
		.next-week {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;

			border: none;
			color: $sophisticated-white;

			&:hover {
				color: darken($sophisticated-white, 20%);
			}
			&:active {
				color: darken($sophisticated-white, 40%);
			}
		}

		.previous-week,
		.next-week {
			font-size: 2rem;
			font-weight: 300;

			fa {
				margin: 0 0.5rem;
			}
		}

		.current-week {
			font-size: 2.5rem;
			font-weight: 600;
			border-left: 1px solid rgba(white, 0.5);
			border-right: 1px solid rgba(white, 0.5);
		}
	}

	.lunch-week {
		display: flex;
		justify-content: space-between;

		.lunch-day {
			width: calc(20% - 0.25rem);

			&.today {
				border: 0.25rem solid #A5001E;
			}

			.no-lunch {
				padding: 1rem;
				text-align: center;

				p {
					margin: 0;
					font-size: 1.25rem;
					font-weight: 600;
				}
			}
		}
	}
}
