@import 'app/styles/mixins';
@import 'app/styles/settings';

$lunchElementsHeight: 70vh;
.blur {
	    border-radius: 15px;
		display: inline-block;
		margin-bottom: $blur-margin;
		padding: 0.5rem;
		color: $sophisticated-white;
        width: 100%;
        height: 100%;
		@include blur();
        .btn {
            color: black;
        }
	}

.blur-white {
	    border-radius: 15px;
		display: inline-block;
        margin: 0.25rem;
		padding: 0.5rem;
		color: black;
        width: 100%;
        height: 100%;
		@include blur(rgba(255, 255, 255, 0.5));
	}

.lunch-container {
    height: $lunchElementsHeight;
}

.lunch-left-nav, .lunch-right-nav, .lunch-content {
    padding: 0.5rem;
    height: 100%;
}

.lunch-left-nav, .lunch-right-nav {
    text-align: center;
    cursor: pointer;
    .blur .fa{
        line-height: $lunchElementsHeight;
    }
}

.lunch-date {
    h3 {cursor: pointer;}
    text-align: center;
    display: flex;
    .date-disabled {
        color: grey;
    }
    .date-today {
        font-weight: 700;
    }
}

.date-focused {
    margin-top: 20px;
}

.lunch-buttons {
    text-align: center;
}

.lunch-station {
    border-radius: 15px;
    display: inline-block;
    margin-bottom: $blur-margin;
    padding: 0.5rem;
    color: black;
    width: 100%;
    height: 100%;
    @include blur(rgba(255, 255, 255, 0.5));
}

.lunch-dishes {
    display: flex;
}
